@charset "UTF-8";
/*///////////////////////////////////////////////////////////

	サイト共通CSS

///////////////////////////////////////////////////////////*/

body {
	background: #A9CF39 url(../img/background/back.gif) no-repeat 50% 0;
	padding: 0 0 40px;
}
#wrapper {
	width: 910px;
	margin: 0 auto;
}

/*======================================================
	コンテンツ
======================================================*/

/* コンテンツ全体枠
----------------------------------------------------------------*/
#content {
	margin-bottom: 44px;
/*	background: url(../img/soyafarm/bg_contents.gif) no-repeat 0 0;*/
	font-size: 108%;
}
#content:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	font-size: 0;
}
#content { display: inline-block; }
/* \*/
* html #content { height: 1%;}
#content { display: block; }
/* */

/* メインコンテンツ
-----------------------------------------------------------------------------------------*/
#main {
	float: left;
	width: 655px;
	margin: 0 auto;
	padding: 10px 22px 30px 23px;
	background: white;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-s-border-radius:3px;
	-ms-border-radius:3px;
}
#one_maincolumn {
	width:865px;
	margin: 0 auto;
	padding: 10px 22px 30px 23px;
	background: white;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-s-border-radius:3px;
	-ms-border-radius:3px;
}
/* パンくずリスト
----------------------------------------------------------------------------------*/
ul#breadcrumb,
p.pankuzu {
	margin-bottom: 15px;
	padding: 10px 0 0;
	font-size: 85%;
	line-height: 1.3;
}
ul#breadcrumb li {
	display: inline;
}
ul#breadcrumb li a {
	background: transparent url(../img/soyafarm/icon_bread.gif) no-repeat scroll right 50%;
	padding-right: 18px;
}

/* ページタイトル
----------------------------------------------------------------------------------*/
h1 { margin-bottom: 16px; }

/* 見出し
----------------------------------------------------------------------------------*/

#main h2.ttl {
	margin: 0 0 0.7em;
	padding: 0 0 0.3em 30px;
	background: url(../img/soyafarm/icon_leaf.gif) no-repeat 0 0.1em;
	border-bottom: 1px dashed #A6CE39;
	color: #476B00;
	font-size: 120%;
	line-height: 1.1em;
}
#main h2.ttl01 {
	margin: 0 0 10px;
	padding: 0 0 7px 13px;
	font-size: 123.1%;
	background: url(../img/soyafarm/img_line.gif) no-repeat left bottom;
	border-bottom: none;
	clear: both;
}

/*=====================================================
	ご注意
=====================================================*/
#attention {
	margin-bottom: 20px;
	padding-bottom: 3px;
	background: url(../img/soyafarm/bg_attention-foot.gif) no-repeat 0 100%;
}

#attention h3 {
	height: 39px;
	padding-left: 90px;
	line-height: 39px;
	vertical-align: bottom;
	color: #C00;
	background: #FFDBD6 url(../img/soyafarm/bg_attention.gif) no-repeat 0 0;
}
#attention h3.owabi {
	background: #FFDBD6 url(../img/soyafarm/icon_owabi.gif) no-repeat 5px 7px;
}
#attention div {
	padding: 10px;
	background: white;
	border: 3px solid #FFDBD6;
	border-bottom: none;
}
#attention p {
	padding: 0 0 0.7em ;
	line-height: 1.3em;
}
#attention ul {
	margin: 6px auto 10px;
}
button#bt_mail { width: 191px; }


/* ご注意
----------------------------------------------------------------*/
#warning {
	margin: 0px 0px 20px 0px;
	background: url(../img/soyafarm/bg_warn.gif) repeat-y left;
}
#warning h3 {
	margin-bottom: 10px;
	padding: 5px 0px 4px 7px;
	background: #FFDBD6 url(../img/soyafarm/hd_warn.gif) no-repeat left top;
	line-height: 1.1em;
	color: #CC0000;
}
#warning h3 img {
	padding-right: 15px;
	vertical-align: bottom;
}
#warning p {
	padding: 0px 15px 0.7em 16px;
	line-height: 1.3em;
}
#warning p.order {
	padding-bottom: 14px;
	background: url(../img/soyafarm/ft_warn.gif) no-repeat left bottom;
}
#warning ul {
	padding: 0px 0px 10px 16px;
}



/*======================================================
	ログイン・ボックス
======================================================*/
#login-box {
	background: url(../img/soyafarm/bg_login.gif ) no-repeat 0 100%;
	margin: 0 auto;
	width:655px;
}
#login-box:after,
#login-box-s:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	font-size: 0;
}
#login-box,#login-box-s { display: inline-block; }
/* \*/
* html #login-box,
* html #login-box-s { height: 1%; }
#login-box,#login-box-s { display: block; }
/* */

#login-box-s {
	margin: 0 auto;
	width:655px;
}

/* 会員／未登録の方　共通設定
--------------------------------------------------------------------------------------*/
dl#member-login,
dl#new-customer {
	width: 296px;
	padding: 11px;
	border: 2px solid #A9CF39;
	border-bottom: none;
}

#login-box-s dl#member-login {
	width:100%;
	border: 2px solid #A9CF39;
}

#login-box-s dl#member-login dt,
#login-box-s dl#member-login dd {
	margin:0 auto;
	width:300px;
}

dl#member-login { float: left; }
dl#new-customer { float: right; }

dl#member-login dt,
dl#new-customer dt {
	margin-bottom: 5px;
	padding-bottom: 10px; 
	background: url(../img/soyafarm/bg_login-title.gif) no-repeat 50% 100%;
	text-align: center;
	font-weight: bold;
	color: #476B00;
}
dl#member-login p.exp,
dl#new-customer p.exp {
	margin-bottom: 10px;
}
dl#member-login button,
dl#new-customer button {
	width: 297px;
}

/* 会員ログイン
--------------------------------------------------------------------------------------*/
dl#member-login p#id,
dl#member-login p#pass {
	height: 20px;
	margin: 10px auto;
}

dl#member-login p#id input,
dl#member-login p#pass input {
	width: 200px;
	margin: 0;
}
dl#member-login p#login-help {
	margin: 5px auto;
	text-align: center;
}

/* 未登録の方
--------------------------------------------------------------------------------------*/
#new-customer p#touroku {
	margin-bottom: 10px;
	padding-bottom: 10px;
	background: url(../img/soyafarm/img_dot.gif) repeat-x 0 100%;
}

/*===================================================
	フォーム1
===================================================*/
.form_box {
	text-align: center;
}
table.form_tbl1 {
	width: 100%;
	margin: 0 auto 20px;
	text-align: left;
	table-layout: fixed;
	border-top: 1px dashed #A6CE39;
	border-collapse: separate;
}
table.form_tbl1 th {
	width: 150px;
	border-right: 1px dashed #A6CE39;
	padding: 15px;
}
table.form_tbl1 td {
	padding: 15px 0 15px 15px;
}
table.form_tbl1 th, table.form_tbl1 td {
	vertical-align: top;
	border-bottom: 1px dashed #A6CE39;
}
table.form_tbl1 td input {
	width: 390px;
}
table.form_tbl1 td textarea {
	width: 390px;
	height: 200px;
}
table.form_tbl1 p.offer {
	font-size: 75%;
}
table.form_tbl1 td.gender p {
	display: inline;
	float: left;
	margin-right: 30px;
}
table.form_tbl1 td.gender input { width: auto; }
table.form_tbl1 input.postnum1 {
	width: 40px;
}
table.form_tbl1 input.postnum2 {
	width: 50px;
}
table.form_tbl1 .address-arrow {
	position: relative;
	top: 25px;
	left: -105px;
}
table.form_tbl1 .adbtn { margin-left: 5px ; vertical-align: top;}

/*=================================================
	オファー
=================================================*/
ul.offer {
	margin-bottom: 10px;
}
ul.offer li {
	padding-left: 1em;
	font-size: 93%;
	line-height: 1.4;
	text-indent: -1em;
}



/*=================================================================
	汎用クラス
=================================================================*/

/* 文字サイズ 
----------------------------------------------------------------------------------*/
.fs10 { font-size:    77% !important; }  /* for size 10px */
.fs11 { font-size:    85% !important; }  /* for size 11px */
.fs12 { font-size:    93% !important; }  /* for size 12px */
.fs13 { font-size:   100% !important; }  /* for size 13px */
.fs14 { font-size:   108% !important; }  /* for size 14px */
.fs15 { font-size:   116% !important; }  /* for size 15px */
.fs16 { font-size: 123.1% !important; }  /* for size 16px */
.fs17 { font-size:    131% !important; }  /* for size 17px */
.fs18 { font-size: 138.5% !important; }  /* for size 18px */
.fs19 { font-size: 146.5% !important; }  /* for size 19px */
.fs20 { font-size: 153.9% !important; }  /* for size 20px */
.fs21 { font-size: 161.6% !important; }  /* for size 21px */
.fs22 { font-size:   167% !important; }  /* for size 22px */
.fs23 { font-size:   174% !important; }  /* for size 23px */
.fs24 { font-size:   182% !important; }  /* for size 24px */
.fs25 { font-size:   189% !important; }  /* for size 25px */
.fs26 { font-size:   197% !important; }  /* for size 26px */

/* 文字指定 
----------------------------------------------------------------------------*/
.oblique { font-style: oblique !important; }
.bold { font-weight: bold !important; }
.ul { text-decoration: underline !important; }

.lh25 { line-height: 1.25 !important; }
.va-m { vertical-align: middle !important; }
.red { color: #CC0000 !important;}
.ora { color: #F90 !important;}
.cha { color: #930 !important;}
.pink { color: #F4C !important;}

.st01 { background: #F4C; color: #FFF; padding: 2px 5px 2px; margin: 0 5px 0 0; font-size: 70%; vertical-align: top; zoom:1;}

/* 行揃え
----------------------------------------------------------------------------*/
.ac { text-align: center !important;}
.al { text-align: left !important;}
.ar { text-align: right !important;}

/* テキストリンク 
----------------------------------------------------------------------------*/
a.link {
	padding-left: 14px;
	background: url(../img/soyafarm/icon_link.gif) no-repeat 0 50%;
}
a.link-s {
	background: url(../img/footer/icon_link_ft.gif) no-repeat scroll 6px 0.25em;
	padding-left:15px	
}
.link-d {
	background: url("../img/soyafarm/sicon_link_down.gif") no-repeat scroll 6px 0.25em transparent;
	padding-left: 15px;
}

/* 幅設定 
----------------------------------------------------------------------------*/
.w100 { width: 100% !important; }
.w90 {  width:  90% !important; }
.w80 {  width:  80% !important; }
.w70 {  width:  70% !important; }
.w60 {  width:  60% !important; }
.w50 {  width:  50% !important; }
.w40 {  width:  40% !important; }
.w30 {  width:  30% !important; }

/* 余白設定 
---------------------------------------------------------------------------*/

/* margin */
.mAuto {
	margin-right: auto !important;
	margin-left:  auto !important;
}
.m0  { margin:  0px !important; }
.m5  { margin:  5px !important; }
.m10 { margin: 10px !important; }
.m15 { margin: 15px !important; }
.m20 { margin: 20px !important; }
.m25 { margin: 25px !important; }
.m30 { margin: 30px !important; }

.mt0  { margin-top:  0px !important; }
.mt5  { margin-top:  5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }

.mr0  { margin-right:  0px !important; }
.mr5  { margin-right:  5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }

.mb0  { margin-bottom:  0px !important; }
.mb5  { margin-bottom:  5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }

.ml0  { margin-left:  0px !important; }
.ml5  { margin-left:  5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }

/* padding */
.p0  { padding:  0px !important; }
.p5  { padding:  5px !important; }
.p10 { padding: 10px !important; }
.p15 { padding: 15px !important; }
.p20 { padding: 20px !important; }
.p25 { padding: 25px !important; }
.p30 { padding: 30px !important; }

.pt0  { padding-top:  0px !important; }
.pt5  { padding-top:  5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }

.pr0  { padding-right:  0px !important; }
.pr5  { padding-right:  5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }

.pb0  { padding-bottom:  0px !important; }
.pb5  { padding-bottom:  5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }

.pl0  { padding-left:  0px !important; }
.pl5  { padding-left:  5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }

/* フロート設定 
----------------------------------------------------------------------------*/
.floatR { float: right !important; display: inline; }
.floatL { float:  left !important; display: inline; }
.clear { clear: both !important; }

/* クリアフィックス 
----------------------------------------------------------------------------*/
.clearfix:after {
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	font-size: 0;
}
.clearfix { display: inline-block; }
/* no ie-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* clearfix END */



/* sunnote 追加
----------------------------------------------------------------------------*/
.error {
	color: #C00;
	margin-bottom: 10px;
}

.message {
	color: #C00;
	padding:20px 0;
	font-weight:bold;
	text-align:center;
}

img.alpha {
  filter: alpha(opacity=25);  -moz-opacity:0.25;  opacity:0.25;
}


/* DM連動カートメンテナンス中
----------------------------------------------------------------------------*/
.mente {
	display: none;
}
/*
.tocart {
	display: none;
}
.mente {
	display: block;
}
*/

