@charset "utf-8";
/*///////////////////////////////////////////////////////////

	マイページ

///////////////////////////////////////////////////////////*/


/*=================================================================
	ローカルメニュー
=================================================================*/
ul#mypage-menu {
	width: 645px;
	margin-bottom:10px;
	padding-left: 10px;
	padding-top: 7px;
	background: #BDFFF3;
	list-style: none;
}
ul#mypage-menu li {
	float: left;
	margin:0 5px 5px 0;
}

#new-customer p#touroku {
	background: none;
}
dl#new-customer p.exp {
	margin-bottom: 28px;
}


/*=================================================================
	カート
=================================================================*/

/*遷移表示
------------------------------------------------------------------------------------*/
ul#cart-flow {
	margin-bottom: 15px;
}
ul#cart-flow li {
	float: left;
}
h1{ clear: both; }
#sel-course {
	margin: 0 0 10px;
}

/*テーブル
------------------------------------------------------------------------------------*/
table#cart {
	width: 100%;
	margin-bottom: -2px;
	table-layout: fixed;
	border-collapse: collapse;
	border: 2px solid #A9CF39;
	border-bottom: none;
	background: #FFFFFF;
}
/*ff hack*/
@-moz-document url-prefix() { table#cart{width: 653px; margin-left: 1px;}}
/*ff hack */

table#cart th {
	text-align: center;
	padding: 2px 0 0 1px;
}
table#cart th p {
	background: #A9CF39;
	padding: 5px 2px;
}
table#cart td {
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid #A9CF39;
	border-right: 1px solid #A9CF39;
}
table#cart td.item-name {
	text-align: left;
}
table#cart th#item-name 	{ width: 220px; padding-left: 2px; }
table#cart th#item-image	{ width: 110px; }
table#cart th#item-cost		{ width: 110px; }
table#cart th#item-quantity	{ width: 90px; }
table#cart th#item-price		{ width: auto; padding-right: 2px; }

/* 合計
------------------------------------------------------------------------------------*/
dl#total-cost {
	padding: 5px;
	margin-bottom: 10px;
	border: 2px solid #A9CF39;
	border-top: 1px solid #A9CF39;
	background: #EDFFBF;
}
dl#total-cost:after{
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	font-size: 0;
}
dl#total-cost { display: inline-block; }
/* \*/
* html dl#total-cost { height: 1%; }
dl#total-cost { display: block; }
/* */
dl#total-cost dt {
	float: left;
	padding-left: 10px;
}
dl#total-cost dd {
	float: right;
	padding-right: 10px;
}

/*=================================================================
	割引計算
=================================================================*/
#discount {
	margin: 10px auto;
	padding: 2px 2px 1px;
	background: #A9CF39;
}
*html #discount {	padding: 2px;}
*:first-child+html #discount {	padding: 2px;}
#discount dl {
	margin-bottom: 1px;
	padding: 5px 10px;
	border: 2px solid white;
	background: #EDFFBF;
}
#discount dl:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	font-size: 0;
}
#discount dl { display: inline-block; }
/* \*/
* html #discount dl { height: 1%; }
#discount dl { display: block; }
/* */

#discount dl dt {
	float: left;
}
#discount dl dd {
	float: right;
}

/*=================================================================
	最終支払額
=================================================================*/
#price {
	padding: 2px;
	background: #F33;
	margin-bottom: 10px;
}
#price dl {
	padding: 5px 7px;
	border: 2px solid white;
	color: white;
	font-size: 123.1%;
	font-weight: bold;
}
#price dl:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	font-size: 0;
}
#price dl { display: inline-block; }
/* \*/
* html #price dl { height: 1%; }
#price dl { display: block; }
/* */

#price dl dt { float: left; }
#price dl dd { float: right; }


/*次の画面へ進むボタン
------------------------------------------------------------------------------------*/
.nextbtn {
	clear: both;
	text-align: center;
}


.soya-navi { margin-bottom: 30px;}














