@charset "utf-8";


/* COMMENT
----------------------------------------------------------------------------- */
#goodsDetail div.comment3 .shunComment{
	line-height:180%;
	font-size:0.85em;
	background:#f7f7e1;
	padding:20px 20px 5px 20px;
	margin-bottom:25px;
	float:left;
	
}
#goodsDetail div.comment3 .shunComment h3{
	margin-bottom:5px;
	color:#222;
}
#goodsDetail div.comment3 .shunComment p{
	margin-bottom:25px;
}
#goodsDetail div.comment3 .shunComment .fLeft{
	margin-right:15px;
	float:left;
}
#goodsDetail div.comment3 .shunComment .fRight{
	margin-left:15px;
	float:right;
}
#goodsDetail div.comment3 .shunComment .pic img,
#goodsDetail div.comment3 .shunComment .picmiddle img,
#goodsDetail div.comment3 .shunComment .picwide img,
#goodsDetail div.comment3 .shunComment .map img{
	margin-bottom:5px;
}

#goodsDetail div.comment3 .shunComment .pic{
	width:190px;
	font-size:80%;
	letter-spacing:1px;
	color:#837729;
	line-height:120%;
}

#goodsDetail div.comment3 .shunComment .picmiddle{
	width:395px;
	font-size:80%;
	letter-spacing:1px;
	color:#837729;
	line-height:150%;
}

#goodsDetail div.comment3 .shunComment .picwide{
	width:612px;
	font-size:80%;
	letter-spacing:1px;
	color:#837729;
	line-height:150%;
}

#goodsDetail div.comment3 .shunComment .map{
	width:190px;
	font-size:80%;
	letter-spacing:1px;
	color:#837729;
	line-height:150%;
}

#goodsDetail div.comment3 .shunComment .txt{
	width:450px;
	margin:0;
}

#goodsDetail div.comment3 .shunComment .redttl{
	color:#b83314;
	font-weight:bold;
	font-size:120%;
}

#goodsDetail div.comment3 .shunComment .blackttl{
	clear:both;
	color:#333;
	font-weight:bold;
	margin-bottom:10px;
}

#goodsDetail div.comment3 .shunComment .brownbarttl{
	clear:both;
	color:#FFF;
	font-weight:bold;
	font-size:120%;
	margin-bottom:5px !important;
	background:#ad9d79;
	padding:0px 10px;
}

#goodsDetail div.comment3 .shunComment .barttl{
	clear:both;
	color:#FFF;
	font-weight:bold;
	font-size:120%;
	margin-bottom:5px !important;
	padding:0px 10px;
}

#goodsDetail div.comment3 .flow{
	width:630px;
	padding:14px;
	border:1px solid #d8d8ba;
	background:#FFF;
	margin-bottom:15px;
	clear:both;
}

#goodsDetail div.comment3 .flow p.flowbox{
	background:url(../img/rohto/flowarw.gif) center bottom no-repeat;
	padding-bottom:25px;
	margin-bottom:15px;
}

#goodsDetail div.comment3 .frame{
	width:630px;
	padding:14px;
	border:1px solid #d8d8ba;
	background:#FFF;
	margin-bottom:15px;
	clear:both;
}

#goodsDetail div.comment3 .frame .fLeft180{
	float:left;
	width:180px;
	margin-right:20px;
}

#goodsDetail div.comment3 .frame .fLeft180 img{
	margin-bottom:5px;
}

#goodsDetail div.comment3 .frame .fLeft280{
	float:left;
	width:305px;
}

#goodsDetail div.comment3 .frame .fRight280{
	float:right;
	width:305px;
}

#goodsDetail div.comment3 .frame p{
	margin-bottom:15px;
}

#goodsDetail div.comment3 .shunComment .olstep{
	padding-left:30px;
	margin-bottom:30px;
}

#goodsDetail div.comment3 .ulflow li{
	clear:both;
	margin-bottom:10px;
}

#goodsDetail div.comment3 .ulflow li .small{
	line-height:1.8 !important;
}

#goodsDetail div.comment3 .ulflow li img{
	margin-bottom:10px;
}

#goodsDetail div.comment3 .ulflow2 li{
	float:left;
	margin-top:10px;
	width:280px;
	padding:10px 11px 0 0;
	border-top:1px dotted #ccc;
}

#goodsDetail div.comment3 .ulflow2Wide li{
	float:left;
	margin-top:10px;
	width:582px;
	padding:10px 0 0 0;
	border-top:1px dotted #ccc;
}




/* COMMENT
----------------------------------------------------------------------------- */

#goodsDetail div.comment3 .outline{

}
#goodsDetail div.comment3 .outline table{
	width:100%;
	margin-bottom:25px;
}
#goodsDetail div.comment3 .outline th{
	font-weight:lighter;
	text-align:left;
	white-space:nowrap;
	padding-right:15px;
	vertical-align:top;
	color:#271a17;
}
#goodsDetail div.comment3 .outline td{
	padding-bottom:15px;
}


#goodsDetail div.comment3 .outline2{

}
#goodsDetail div.comment3 .outline2 table{
	width:100%;
	margin-bottom:25px;
	border-left:1px solid #e8e8d0;
	border-top:1px solid #e8e8d0;
}
#goodsDetail div.comment3 .outline2 th{
	font-weight:bold;
	text-align:center;
	white-space:nowrap;
	padding:5px 10px;
	border-right:1px solid #e8e8d0;
	border-bottom:1px solid #e8e8d0;
	background:#f9f9ec;
}
#goodsDetail div.comment3 .outline2 td{
	padding:5px 10px;
	border-right:1px solid #e8e8d0;
	border-bottom:1px solid #e8e8d0;
}

/* BUYER
----------------------------------------------------------------------------- */
#goodsDetail div.comment3 .buyer{
	background:url(../img/rohto/buyer_back.gif) no-repeat top;
	padding:10px 0 0 0;
	margin-bottom:25px;
	margin-top:10px;
	font-size:0.85em;
	line-height:150%;
}
#goodsDetail div.comment3 .buyer dl{
	background:url(../img/rohto/buyer_back.gif) no-repeat bottom;
	padding:0 0 2px 0;
}
#goodsDetail div.comment3 .buyer dt{
	float:left;
	margin:0 15px;
}
#goodsDetail div.comment3 .buyer dd{
	line-height:160%;
	margin-right:10px;
	padding:10px 0;
}
#goodsDetail div.comment3 .buyer dd img{
	margin-bottom:5px;
}


/* RECIPE
----------------------------------------------------------------------------- */
#goodsDetail div.comment3 .recipe{
	font-size:0.85em;
	line-height:150%;
	background:#f7f5e8;
	padding:20px;
	margin:10px 0 25px;
	width:660px;
}
#goodsDetail div.comment3 .recipe .menu{
	background:url(../img/rohto/recipe_top.gif) repeat-y top;
	padding:20px 0 0;
	width:660px;

}
#goodsDetail div.comment3 .recipe .menu h4{
	margin:0 0 0 20px;
}

#goodsDetail div.comment3 .recipe .menu dl{
	background:url(../img/rohto/recipe_back.gif) no-repeat bottom;
	padding:0 0 20px;
	margin:0;
	display:block;
	width:660px;

}
#goodsDetail div.comment3 .recipe .menu dt{
	float:right;
	padding:0 20px 20px 10px;
	clear:right;

}
#goodsDetail div.comment3 .recipe .menu dd{
	line-height:160%;
	padding:10px 20px 0 20px;
	margin:0;
}

#goodsDetail div.comment3 .recipe .menu span.ttl{
	line-height:160%;
	color:#789030;
	font-weight:bold;
}

#goodsDetail div.comment3 .recipe .menu li.num1{
	line-height:160%;
	margin-bottom:10px;
	padding-left:18px;
	background:url(../img/rohto/icon_num01.gif) no-repeat 0px 0.1em;
}
#goodsDetail div.comment3 .recipe .menu li.num2{
	line-height:160%;
	margin-bottom:10px;
	padding-left:18px;
	background:url(../img/rohto/icon_num02.gif) no-repeat 0px 0.1em;
}
#goodsDetail div.comment3 .recipe .menu li.num3{
	line-height:160%;
	margin-bottom:10px;
	padding-left:18px;
	background:url(../img/rohto/icon_num03.gif) no-repeat 0px 0.1em;
}
#goodsDetail div.comment3 .recipe .menu li.num4{
	line-height:160%;
	margin-bottom:10px;
	padding-left:18px;
	background:url(../img/rohto/icon_num04.gif) no-repeat 0px 0.1em;
}
#goodsDetail div.comment3 .recipe .menu li.num5{
	line-height:160%;
	margin-bottom:10px;
	padding-left:18px;
	background:url(../img/rohto/icon_num05.gif) no-repeat 0px 0.1em;
}

/* order
----------------------------------------------------------------------------- */

#order{
		text-align:center!important;}

#order p.line{
	color:#AF3114;
	font-size:120%;
	font-weight:bold;
	background:url(../img/rohto/line1.gif) repeat-x top;
	padding:20px 0 10px 0;
	margin-top:20px;
	margin-bottom:5px;
}
#order p{
	margin-top:10px;
}
#order img{
	text-align:center!important;
}

/* 生産者一覧
----------------------------------------------------------------------------- */

table.goods_maker_table td{
	font-size:0.85em;
	line-height:150%;
}