@charset "utf-8";
/*---------------------------------------*/
.wrapForm{
border-top:1px solid #cfcfcf;
}
.wrapForm table{
width:100%;
border-collapse:separate;
border-spacing:0;
}
.wrapForm th{
background:url(../img/rohto/back_ptn1.gif);
border-top:1px solid #ffffff;
border-bottom:1px solid #cfcfcf;
padding:20px;
font-size:0.8em;
font-weight:normal;
vertical-align:middle;
line-height:140%;
}
.wrapForm td{
border-top:1px solid #ffffff;
border-bottom:1px solid #cfcfcf;
padding:20px 0 20px 20px;
font-size:0.8em;
background:#ffffff;
line-height:140%;
}
.wrapForm table.typ2 th,.wrapForm table.typ2 td{
	padding:5px;
}
.wrapForm td table{
width:100%;
}
.wrapForm td td,.wrapForm td th{
font-size:100%;
padding:10px 0;
border-bottom:1px dotted #cfcfcf;
vertical-align:middle;
}
.wrapForm td tr.top td,.wrapForm td tr.top th{
padding-top:0;
}
.wrapForm td tr.btm td,.wrapForm td tr.btm th{
padding-bottom:0;
border-bottom:none;
}
.wrapForm td td input{
vertical-align:middle;
}
.wrapForm p.btn{
	position:relative;
text-align:center;
margin:50px auto;
}
.wrapForm p.btn .posiSub{
	position:absolute;
	left:0;
}
/*---------------------------------------*/
.wrapCustomer{
width:820px;
margin:0 70px;
}
.wrapLogin{
width:820px;
margin:30px 70px;
background:url(../img/rohto/back.gif) repeat-y;
}
.wrapLoginOn{
width:820px;
margin:0 auto;
}
.wrapLogin td div{
width:290px;
margin:0 0 0 50px;
padding:0 0 20px 0;
}
.wrapLogin td.dyn1{
padding:0 40px 0 0;
background:url(../img/rohto/btm.gif) no-repeat 0 100%;
}
.wrapLogin td .innr th{
padding:0 0 7px 0;
}
.wrapLogin td .innr input{
width:200px;
}
.wrapLogin td.dyn2{
background:url(../img/rohto/btm.gif) no-repeat 100% 100%;
}
.wrapLogin td.dyn2 div{
padding:0;
}
.wrapLogin p.kakunin{
	margin:20px 0 0 0;
	padding:20px 0 0 0;
	border-top:1px solid #c8c8c8;
}
.wrapLogin ul.kome li{
margin:5px 0;
}
.wrapLogin .error{
	font-size:13px;
}
.wrapLogin dl.error{
margin:15px 0;
color:#ff0000;
border:3px solid #ff0000;
padding:10px;
background:url(../img/rohto/back_ptn6.gif);
font-size:0.8em;
line-height:170%;
}

/* 新規会員登録リンクなし用 */
.wrapLogin02{
width:390px;
margin:30px auto;
background:url(../img/rohto/back.gif) repeat-y;
}
.wrapLogin02On{
width:390px;
margin:0 auto;
}
.wrapLogin02 td div{
width:290px;
margin:0 0 0 50px;
padding:0 0 20px 0;
}
.wrapLogin02 td.dyn1{
padding:0 40px 0 0;
background:url(../img/rohto/btm.gif) no-repeat 0 100%;
}
.wrapLogin02 td .innr th{
padding:0 0 7px 0;
}
.wrapLogin02 td .innr input{
width:200px;
}
.wrapLogin02 p.kakunin{
	margin:20px 0 0 0;
	padding:20px 0 0 0;
	border-top:1px solid #c8c8c8;
}
.wrapLogin02 ul.kome li{
margin:5px 0;
}
.wrapLogin02 .error{
	font-size:13px;
}
.wrapLogin02 dl.error{
margin:15px 0;
color:#ff0000;
border:3px solid #ff0000;
padding:10px;
background:url(../img/rohto/back_ptn6.gif);
font-size:0.8em;
line-height:170%;
}

/*---------------------------------------*/
/*アラート流用*/
.alert{
	border:1px solid #e5ce00;
	background:#fff9db url(../img/rohto/alert.gif) 15px 15px no-repeat;
	padding:15px 15px 0px 80px;
	margin-bottom:20px;
}

.alert2{
	border:1px solid #e5ce00;
	background:#fff9db url(../img/rohto/alert.gif) 15px 15px no-repeat;
	padding:20px 15px 20px 80px;
	margin-bottom:20px;
}
.alert h3,
.alert2 h3{
	font-size:140%;
	font-weight:bold;
	color:#d80000 !important;
	margin-bottom:5px;
}
.alert2 h3{
	padding-top:5px;
}
/*---------------------------------------*/
div.myPageMenu{
padding:0 0 20px 30px;
background:url(../img/rohto/back_ptn8.gif);
}
div.myPageMenu ul.menu{
	height:280px;
}
div.myPageMenu ul.menu li{
	float:left;
	margin:20px 20px 0 0;
}
div.myPageMenu div.wrapSA{
	margin:20px 20px 0 0;
	background:#ffffff;
	border:1px solid #dddddd;
	padding:10px;
}
div.myPageMenu div.wrapSA p{
font-size:0.8em;
line-height:140%;
}
div.myPageMenu .shippingAddress{
	clear:both;
}
div.myPageMenu .shippingAddress li{
background:url(../img/rohto/linkicon1.gif) no-repeat 0 50%;
padding-left:15px;
margin:5px 0 0 0;
font-size:0.8em;
line-height:140%;
}
div.myPageMenu p.withdrawal{
	clear:both;
	text-align:right;
	margin:20px 20px 0 0;
	padding:20px 0 0 0;
	background:url(../img/rohto/line4.gif) repeat-x;
}
/*---------------------------------------*/
div.regularPlan {
	margin:20px 0;
	width:700px;
	height:74px;
	background:url(../img/rohto/regularPlan_back.gif);
	position:relative;
}
div.regularPlan img.i01{
	position:absolute;
	top:20px;
	left:20px;
}
div.regularPlan img.i02{
	position:absolute;
	top:13px;
	left:233px;
}
div.regularPlan img.i03{
	position:absolute;
	top:13px;
	left:501px;
}
div.regularPlan a.i04{
	position:absolute;
	top:35px;
	left:501px;
}
div.regularPlan .shippingAddress{
	clear:both;
}
div.regularPlan .shippingAddress li{
background:url(../img/rohto/linkicon1.gif) no-repeat 0 50%;
padding-left:15px;
margin:5px 0 0 0;
font-size:0.8em;
line-height:140%;
}
/*---------------------------------------*/
.custDestHead{
background:#efefef;
border:5px solid #dddddd;
padding:10px;
}
.custDestHead dt{
font-size:0.8em;
line-height:140%;
margin:0 0 5px 0;
}
.custDestHead dd{
display:inline;
margin:0 15px 0 0;
font-size:0.8em;
line-height:140%;
}
.custDestHead dd a{
position:relative;
background:url(../img/rohto/linkicon1.gif) no-repeat 0 50%;
padding:0 0 3px 15px;
white-space:nowrap;
}
/*---------------------------------------*/
.wrapKensaku{
padding:5px;
background:url(../img/rohto/back_ptn8.gif);
}
.wrapKensakuEle{
border:1px solid #cfcfcf;
background:#ffffff;
}
.wrapKensaku table{
width:100%;
}
.wrapKensaku th{
padding:15px;
font-size:0.8em;
vertical-align:middle;
background:#f0f0f0 url(../img/rohto/line2.gif) repeat-x;
}
.wrapKensaku td{
padding:15px;
font-size:0.8em;
vertical-align:middle;
background:url(../img/rohto/line2.gif) repeat-x;
}
.wrapKensaku tr.top th{
background:#f0f0f0 ;
}
.wrapKensaku tr.top td{
background:none;
}
.wrapKensaku p.btn{
margin:15px auto;
margin-bottom:10px;
text-align:center;
}
/*---------------------------------------*/
.myPagePersonal{
width:820px;
margin:0;
background:#faf6e7;
}
.myPagePersonal .myPageNamae{
padding:10px 0;
background:url(../img/rohto/personal_head.gif) no-repeat;
border-bottom:1px solid #e9ddb2;
font-size:0.8em;
line-height:180%;
vertical-align:bottom;
}
.myPagePersonal .myPageNamae table.lay1{
	width:100%;
}
.myPagePersonal .myPageNamae table.lay1 td{
vertical-align:bottom;
}
.myPagePersonal .myPageNamae table.lay1 .cNumber{
	text-align:right;
	padding:0 30px;
}
.myPagePersonal .myPageNamae th{
padding:5px 0 0 0;
font-weight:bold;
}
.myPagePersonal .myPageNamae th strong{
vertical-align:baseline;
font-weight:bold;
}
.myPagePersonal .myPageNamae strong{
font-size:150%;
font-weight:bold;
}
.myPagePersonal .myPageNamae td{
vertical-align:baseline;
padding:5px 0 0 30px;
}
.myPagePersonal .myPageRotta{
padding:10px 30px;
background:url(../img/rohto/personal_foot.gif) no-repeat 0 100%;
border-top:1px solid #ffffff;
}
.myPagePersonal .myPageRotta td{
font-size:2em;
color:#de5900;
}
.myPagePersonal .myPageRotta td img{
vertical-align:middle;
}
.myPagePersonal p{
	margin:10px 0 0 0;
	font-size:0.9em;
	color:#ff0033;
}
/*---------------------------------------*/
.wrapCustomer .wrapResult{
position:relative;
margin:30px 0;
padding:5px;
background:#ffecec;
}
.wrapCustomer .wrapResultEle{
margin:5px;
border:1px solid #ffffff;
background:url(../img/rohto/back_ptn7.gif);
}
.wrapCustomer .wrapResult h2{
text-align:center;
margin:15px;
font-weight:bold;
color:#333333;
}
.wrapCustomer .wrapResult ul.note{
margin:15px;
}
.wrapCustomer .wrapResult ul.note li{
font-size:0.8em;
line-height:140%;
}
div.finishedRegular{
	margin:15px;
	padding:15px;
	background:#ffffff;
}
div.finishedRegular p.naked{
	margin:0;
}
div.finishedRegular h3{
	text-align:center;
	margin:0 0 10px;
	font-size:0.95em;
	font-weight:bold;
	color:#c4162a;
	border-bottom: 1px dotted #cccccc;
	padding: 0 0 10px;
}	
/*---------------------------------------*/
/*登録削除*/
.formWithdrawal{
margin:30px 0;
/*border:2px solid #f00000;
padding:20px;
background:url(../img/rohto/back_ptn3.gif);*/
}
.formWithdrawal table{
margin:0 0 20px 0;
}
div.withdrawal{
	margin:20px 0 30px;
	padding:0 0 5px;
	text-align:center;
	background:url(../img/rohto/mypage_sub6_note_back.gif);
}
div.withdrawal img{
	margin:0;
	padding:0;
	display:block;
}
dl.withdrawal{
	margin:0 5px;
	padding: 15px 20px 15px;
	background:#ffffff;
}
dl.withdrawal dt{
	font-size:0.95em;
	color:#c4162a;
	border-top: 1px dotted #aaaaaa;
	padding:20px 0 10px;
	margin: 15px 0 0;
	font-weight:bold;
	text-align:center;
}
dl.withdrawal dd ul{
	margin:10px 15px 0;
}
dl.withdrawal dd ul li{
	padding: 0 0 5px;
	margin:0 0 0 20px;
font-size:0.8em;
line-height:140%;
}
/*---------------------------------------*/
/* カート*/
p.cartBtn{
text-align:center;
margin:20px auto;
}
p.cartNoData{
margin:60px 0;
text-align:center;
font-size:0.85em;
line-height:140%;
}
/* カートに入っている商品 */
h3.cartListTitle{
clear:both;
width:820px;
margin:0 70px;
}
.cartList{
clear:both;
width:820px;
margin:0 70px;
}
.wrapCustomer .cartList{
margin:0 30px;
}
#mainMyPage .cartList,
#mainMyPageTop .cartList{
width:auto;
margin:0 0;
}
.cartList table{
width:100%;
border-bottom:1px solid #c7b068;
border-left:1px solid #c7b068;
border-right:1px solid #c7b068;
}
.cartList caption{
background:#fcb230;
color:#fff;
font-weight:bold;
padding:10px 0 5px 0;
text-align:center;
}
.cartList th{
padding:5px;
background:#fff8e0;
color:#51412e;
border-top:2px solid #c7b068;
border-right:1px solid #c7b068;
font-size:0.8em;
line-height:140%;
text-align:center;
vertical-align:middle;
}
.cartList th span{
font-size:11px;
width:98px;
/*display:block;*/
text-align:left;
line-height:100%;
}
.cartList th span.dyn{
text-align:center;
width:auto;
}
.cartList td span{
text-align:left;
line-height:120%;
}
.cartList td span.cartInfo{
	font-size:90%;
	display:block;
	background:#efefef;
}
.cartList td span.cartInfo span.error{
	display:inline;
	font-size:100%;
}
.cartList th a{
font-size:85%;
}
.cartList td{
padding:5px 7px;
border-top:1px solid #c7b068;
border-right:1px dotted #c7b068;
font-size:0.8em;
line-height:140%;
vertical-align:middle;
}
.cartList td img{
vertical-align:middle;
}
.cartList td.comnt{
border-top:1px dotted #d8d2be;
border-right:none;
}
.cartList tr.total1 td,.cartList tr.total2 td{
padding:5px 10px;
background:#ffffff;
border-right:none;
border-top:2px solid #d8d2be;
vertical-align:middle;
}
.cartList tr.total2 td{
border-top:none;
}
.cartList tr.total1 td.goukei{
text-align:right;
vertical-align:middle;
}
.cartList tr.total1 td.goukei span{
display:inline;
font-size:100%;
font-weight:bold;
padding:0 10px 0 0;
vertical-align:middle;
color:#3e3e3e;
}
.cartList tr.total1 td.goukei strong{
font-size:230%;
font-weight:bold;
color:#e77506;
line-height:130%;
vertical-align:middle;
}
.cartList tr.total2 td.goukeiInfo{
clear:both;
border-top:1px solid #a1a1a1;
}
.cartList tr.total2 td.goukeiInfo span{
display:inline;
font-size:90%;
}
.cartList tr.total3 td{
background:url(../img/rohto/back_ptn7.gif);
}
.cartList .comnt{
text-align:center;
}
/*---------------------------------------*/
/*Sアカウント*/
.eorder{
clear:both;
width:814px;
margin:20px 70px 50px 70px;
border:3px solid #006699;
padding:20px 0;
font-size:0.9em;
line-height:150%;
color:#006699;
font-weight:bold;
text-align:center;
background:url(../img/rohto/back_ptn2.gif);
}
div.cartErr p.error{
margin:15px 70px;
padding:10px;
font-size:0.8em;
line-height:170%;
}
/*---------------------------------------*/
.cartList th.linern,.cartList td.linern{
border-right:none;
}
/*---------------------------------------*/
#mainMyPage,#mainMyPageTop{
	position:relative;
}
#mainMyPage p.logout{
	position:absolute;
	top:15px;
	right:0;
}
#mainMyPageTop p.logout{
	position:absolute;
	top:-40px;
	right:70px;
	z-index:10;
}
/*---------------------------------------*/
.wrapCoan{
width:820px;
margin:30px 70px;
font-size:0.8em;
line-height:140%;
}
.tblOrder .radioNomi input{
margin:0 0 0 10px;
}
/*---------------------------------------*/
.wrapCoan .hanrei td{
padding:0 20px 0 0;
vertical-align:middle;
}
.wrapCoan .hanrei td img{
vertical-align:middle;
}
/*---------------------------------------*/
.wrapCoan h2.order{
padding:0;
margin:40px 0 0 0;
}
.wrapCoan h3.order{
position:relative;
background:none;
padding:0;
margin:30px 0 20px 0;
}
/*---------------------------------------*/
.wrapCoanEle h4.order{
margin:10px 0;
vertical-align:middle;
}
.wrapCoanEle h4.order img{
vertical-align:middle;
padding:0 10px 0 0;
}
/*---------------------------------------*/
.tblOrder{
width:100%;
border:1px solid #f2b09a;
}
.tblOrder th{
font-weight:normal;
width:180px;
background:#f7f3e8;
text-align:left;
border-bottom:1px dotted #f2b09a;
}
.tblOrder th.dyn{
width:auto;
padding:10px;
border-bottom:none;
}
.tblOrder th span{
display:block;
padding:10px;
}
.tblOrder td{
width:auto;
text-align:left;
padding:10px;
border-bottom:1px dotted #f2b09a;
}
.tblOrder .radioNomi td{
padding-left:0;
}
.tblOrder .radioNomi td .jikanSitei{
padding-right:20px;
}
.tblOrder th.btm,
.tblOrder td.btm{
border-bottom:none;
}
/*---------------------------------------*/
.wrapCoan .wrapKiyaku{
width:818px;
border-left:1px solid #ec8663;
border-right:1px solid #ec8663;
}
.wrapCoan .wrapKiyaku iframe{
	position:relative;
border:1px solid #dedada;
width:778px;
padding:0;
margin:10px 0 0 0;
}
.wrapCoan .wrapKiyaku span.order{
display:block;
padding:0 0 5px 0;
}
.wrapCoan .wrapKiyaku .wrapCoanEle{
padding:0 0 10px 20px;
}
.wrapCoan .wrapKiyaku p{
	width:778px;
}
/*---------------------------------------*/
.wrapCoan .wrapCoanAgre{
padding:15px;
background:#ec8663 url(../img/rohto/method_ele_foot.gif) no-repeat 0 100%;
color:#ffffff;
text-align:center;
}
/*---------------------------------------*/
.tblOrder .tblOrderInnr{
width:100%;
}
.tblOrder .tblOrderInnr th{
font-weight:normal;
padding:10px 10px 10px 0;
vertical-align:top;
border-bottom:1px dotted #7f7f7f;
background:none;
width:auto;
white-space:nowrap;
}
.tblOrder .tblOrderInnr td{
padding:10px 10px 10px 0;
vertical-align:top;
border-bottom:1px dotted #7f7f7f;
}
.tblOrder .tblOrderInnr th.top,
.tblOrder .tblOrderInnr td.top{
padding-top:0;
}
.tblOrder .tblOrderInnr th.btm,
.tblOrder .tblOrderInnr td.btm{
border-bottom:none;
padding:10px 10px 10px 0;
}
/*---------------------------------------*/
/*定期の変更*/
.tblOrderInnrReg{
width:100%;
border:1px dotted #7f7f7f;
}
.tblOrder .tblOrderInnrReg td,.tblOrder .tblOrderInnrReg th{
border-bottom:none;
}
/*---------------------------------------*/
.tblOrder .tblOrderNoshi{
margin:0 0 10px 0;
}
.tblOrder .tblOrderNoshi td{
vertical-align:top;
text-align:center;
border:none;
}
.tblOrder .tblOrderNoshi label{
display:block;
padding:10px 20px;
border:1px solid #f2c0af;
}
/*---------------------------------------*/
.wrapCoan span.example{
color:#ea673b;
}
.tblOrder span.example{
display:inline;
}
/*---------------------------------------*/
.wrapCoan dl.coan{
clear:both;
padding:15px 0 0 0;
}
.wrapCoan .radioNomi dl.coan{
clear:both;
padding:15px 0 0 10px;
}
.wrapCoan dl.coan dt{
color:#4f8213;
}
.wrapCoan .orderBtn{
position:relative;
width:100%;
text-align:center;
margin:30px auto;
}
.wrapCoan .orderBtn p.modoru{
position:absolute;
top:0;
left:0;
}
/*---------------------------------------*/
.tblOrder .tblOrderCal td{
padding:0 20px 0 0;
border:none;
}
.tblOrder .tblOrderCal td td{
padding:0 0 0 0;
}
.tblOrder .tblOrderCal td.dyn{
padding:0 0 0 50px;
background:url(../img/rohto/method_cal_yajirusi.gif) no-repeat 0 50%;
}
/*---------------------------------------*/
.tblOrder div.wrapCoanCal{
border:1px solid #f2b09a;
padding:5px 4px 4px 5px;
}
/**/
.wrapCoan table.calendar{
width:auto!important;
color:#373737;
margin:0;
padding:0;
border:none!important;
border-collapse:collapse;
}
/**/
.wrapCoan .calendar td{
width:auto;
height:auto;
text-align:center!important;
padding:3px 8px!important;
background:#f7f3e8;
border:none!important;
border-right:1px solid #ffffff!important;
border-bottom:1px solid #ffffff!important;
}
.wrapCoan .calendar th{
width:auto;
text-align:center;
padding:3px 8px!important;
background:#f7f3e8;
border:none!important;
border-right:1px solid #ffffff!important;
border-bottom:1px solid #ffffff!important;
}
.wrapCoan .calendar thead th{
background:#ffffff!important;
color:#373737;
}
.tblOrder div.wrapCoanCal .calendar thead th a{
color:#279ad2;
}
.wrapCoan .calendar thead th a{
color:#279ad2!important;
text-decoration:underline!important;
}
/*---------------------------------------*/
/* calendar */
.tblOrder .wrapCoanCal .calender_today{
background:#ffed52!important;
}
.tblOrder .wrapCoanCal .calender_line1{
background:#ffece5!important;
}
.tblOrder .wrapCoanCal .calender_line7{
background:#e5f6ff!important;
}
/*---------------------------------------*/
.wrapCoan .wrapCoanPayInfo{
background:#fffcf3;
border:3px solid #fcf5e1;
margin:15px 0;
padding:15px;
}
.wrapCoan .wrapCoanPayInfo dl.info{
margin:0 0 15px 0;
padding:0;
border:none;
background:none;
}
.wrapCoan .wrapCoanPayInfo dl.info dt{
font-size:105%;
text-align:left;
color:#ea673b;
margin:0 0 10px 0;
}
.wrapCoan .wrapCoanPayInfo dl.info dd{
font-size:85%;
text-align:left;
background:url(../img/rohto/method_icon_kome.gif) no-repeat 0 4px;
padding:0 0 5px 15px;
}
.wrapCoan .wrapCoanPayInfo dl.info dd span{
color:#ea673b;
}
/*---------------------------------------*/
.tblOrder .wrapCoanPayInfo .tblOrderPay{
width:100%;
}
.tblOrder .wrapCoanPayInfo .tblOrderPay th{
width:auto;
padding:4px;
font-size:95%;
background:url(../img/rohto/method_pay_back.gif);
border-bottom:1px solid #f2c0af;
border-right:1px solid #f2c0af;
}
.tblOrder .wrapCoanPayInfo .tblOrderPay th.dyn1{
width:100px;
background:#ec8663;
text-align:center;
color:#ffffff;
border-top:1px solid #e7d6a2;
border-left:1px solid #e7d6a2;
border-right:1px solid #ffffff;
}
.tblOrder .wrapCoanPayInfo .tblOrderPay th.dyn2{
width:100px;
background:#ec8663;
text-align:center;
color:#ffffff;
border-top:1px solid #e7d6a2;
border-right:1px solid #ffffff;
}
.tblOrder .wrapCoanPayInfo .tblOrderPay th.dyn3{
width:100px;
background:#ec8663;
text-align:center;
color:#ffffff;
border-top:1px solid #e7d6a2;
border-right:1px solid #e7d6a2;
}
.tblOrder .wrapCoanPayInfo .tblOrderPay th.dynL{
border-left:1px solid #e7d6a2;
}
.tblOrder .wrapCoanPayInfo .tblOrderPay td{
width:auto;
text-align:center;
padding:4px;
font-size:95%;
border-bottom:1px solid #f2c0af;
border-right:1px solid #e7d6a2;
background:#ffffff;
}
.tblOrder .wrapCoanPayInfo .tblOrderPay td.dynN{
background:#fffcf3;
border:none;
border-bottom:1px solid #e7d6a2;
}
.tblOrder .wrapCoanPayInfo .tblOrderPay tr.kugiri td,
.tblOrder .wrapCoanPayInfo .tblOrderPay tr.kugiri th{
border-top:1px solid #f2c0af;
}
/*---------------------------------------*/
.tblOrder .tblOrderSeikyusho{
width:100%;
margin:0;
}
.tblOrder .tblOrderSeikyusho td{
padding:0;
border:none;
}
.tblOrder .tblOrderSeikyusho td.dyn{
border-right:20px solid #ffffff;
}
.tblOrder .tblOrderSeikyusho #seikyuTyp1{
text-align:center;
margin:0;
padding:10px 5px 0 5px;
border:3px solid #f2c0af;
display:block;
}
.tblOrder .tblOrderSeikyusho #seikyuTyp2{
text-align:center;
margin:0;
padding:10px 5px 0 5px;
border:3px solid #f2c0af;
display:block;
}
.tblOrder .tblOrderSeikyusho img{
display:block;
margin:10px auto;
}
/*---------------------------------------*/
.tblOrder label.jikansiteiN{
display:block;
width:150px;
padding:0 0 5px 0;
}
.tblOrder label.jikansitei{
display:block;
width:150px;
padding:0 0 5px 0;
float:left;
}
.tblOrder label.route{
display:block;
width:200px;
padding:0 0 5px 0;
float:left;
}
/*---------------------------------------*/
.wrapCoan .error{
background:#ff0000;
color:#ffffff;
font-size:120%;
padding:0;
font-weight:normal;
}
.wrapCoan .error a{
color:#ffff00;
}
.wrapCoan p.error{
display:inline;
background:#ff0000;
color:#ffffff;
border:none;
padding:0;
}
.wrapCoan p.error a{
color:#ffff00;
}
span.clr01{
/*番地なし*/
color:#660000;
font-weight:bold;
}
.wrapCoan span.dyn{
color:#660000;
font-weight:bold;
}
/*---------------------------------------*/
/*table.regularTel追加 20130301*/
table.regularTel {
width:100%;
border-top:1px solid #005aac;
border-right:1px solid #005aac;
border-left:1px solid #005aac;
border-collapse:separate;
}
table.regularTel img{
display:block;
}
table.regularTel th, table.regularTel td {
padding:10px 5px 10px 10px;
font-size:0.85em;
line-height:140%;
vertical-align:middle;
}
table.regularTel th {
background:url(../img/rohto/back_ptn1.gif);
border-top:1px solid #ffffff;
border-bottom:1px solid #005aac;
}
table.regularTel td {
border-top:1px solid #ffffff;
border-bottom:1px solid #005aac;
}
table.regularTel td.dyn{
padding:5px 5px 5px 20px;
}
table.regularTel td.dynBtn{
width:195px;
}
table.regularTel td.dynBtn span{
width:180px;
font-size:90%;
}
table.regularTel td.dyn p{
font-size:2em;
margin:5px 0;
padding:0;
white-space:nowrap;
color:#005aac;
font-weight:bold;
}
table.regularTel span{
margin:3px 0;
display:block;
}
table.regularTel span.att{
background:#ffd3dc;
display:inline;
}
table.regularTel tr.kugiri th{
border-top:2px solid #a3c3e0;
}
table.regularTel tr.kugiri td{
border-top:2px solid #a3c3e0;
}
/*---------------------------------------*/
/*end*/
