@charset "UTF-8";
/*///////////////////////////////////////////////////////////

ソイノビ

///////////////////////////////////////////////////////////*/

/* 商品特長
----------------------------------------------------------------*/

h1 {
	position: relative;
}
h1 #heiyou {
	position: absolute;
	top: -30px;
	left: 330px;
}
#tablt {
	padding: 15px;
	background-color: #FFFFFF;
	border: 1px solid #F0F0F0;
	clear: both;
	margin-top:20px;
}

#merit{
}

#merit h3{
	margin-bottom:10px;
}

#merit h4{
	margin-bottom:15px;
}


#merit p{
	margin-bottom:15px;
}

#merit p.none {
	margin-bottom: 0px;
}

#merit p span {
    background-color: #FFFF99;
    font-weight: bold;
	padding: 0 3px;
}

#merit p.fs-s {
	font-size: 0.88em;
}

#merit .fig{
	margin-bottom:10px;
}

#merit_01 #m_01_01.fig{
	text-align:center;
}

#merit_01 #m_01_02.fig{
	float:right;
	margin-left:15px;
}

#merit_02 #m_02_01.fig{
	float:right;
	margin-left:15px;
}

#merit_03 #m_03_01.fig {
	float:right;
	margin:-30px 0 0 15px;
}

#merit_04 #m_04_01.fig {
	float:right;
	margin:-10px 0 0 15px;
}

#merit_04 .box_01, 
#merit_04 .box_02, 
#merit_04 .box_03  {
	float: left;
}

#merit_04 .box_01 {
	width: 270px;
	margin-right: 5px;	
}

#merit_04 .box_02 {
    border-right: 2px dotted #EE7C29;
    margin-right: 13px;
    padding-right: 7px;
    width: 135px;
}

#merit_04 .box_03 {
	width: 165px;
}
