#/**
# * .htaccess - 入金通知処理の.htaccess
# *
# * LICENSE: （ライセンスに関する情報）
# *
# * @category    Veritrans
# * @package     Mdl_SBIVT3G
# * @copyright   2011 SBI VeriTrans Co., Ltd.
# * @license     http://www.veritrans.co.jp/3gpslicense   Veritrans License
# * @version     $Id: htaccess 44 2011-08-03 09:54:45Z hira $
# * @link        http://www.veritrans.co.jp/3gps
#*/

Satisfy Any
Order Allow,Deny
Allow from All

