@charset "utf-8";

body {
margin:0;
padding:0;
font-family:"ヒラギノ角ゴ Pro W3";
color:#333;
background:#ffffff;
font-size: 1em!important;
-webkit-text-size-adjust : none;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, tr, th, td, em, img, form, map, area {
margin:0;
padding:0;
border:none;
list-style:none outside;
}
th, td, strong {
vertical-align:top;
font-weight:normal;
}
address, em {
font-style:normal;
}
h2, h3, h4 {
clear:both;
font-weight:normal;
}
h2.spNaked{
margin:0 0 10px;
padding:7px 0;
background:#4EA03D;
color:#ffffff;
text-align:center;
font-size:1em;
line-height:1;
vertical-align:middle;
}
h2.spSub{
margin:-9px 0 10px;
padding:7px 0;
background:#c8e5f6;
color:#1064b1;
text-align:center;
font-size:1em;
line-height:1;
vertical-align:middle;
}
h2.mTop{
margin-top: 10px;
}
h2.spNaked img,
h2.spSub img{
vertical-align:text-top;
}
h2.spNaked span{
font-size:0.65em;
vertical-align:middle;
background:#2F6325;
border-top:1px solid #22481C;
border-radius: 10px;
	-webkit-border-radius: 10px;
padding:2px 10px;
}
.clearfix:after {
content: "";
clear: both;
height: 0;
display: block;
visibility: hidden;
}
.alignC { text-align:center !important; }
/*--------------------------------------------*/	
#spHeader{
height:51px;
text-align:center;
}
p.copy{
	font-size:80%;
	color:#605f5f;
	padding:5px 0;
	text-align:center;
}
/*--------------------------------------------*/		
#spFooter{
margin:1px 0 0;
}
#spFooter table.ftSubbtn{
width:100%;
table-layout: fixed;
}
#spFooter table.ftSubbtn td{
color:#1064b1;
font-size:0.688em;
text-align:center;
vertical-align:middle;
border-top: solid 1px #ffffff;
border-bottom: solid 1px #cbcbcb;

/*background:-webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e4e4e4));
	background:-moz-linear-gradient(top, #f0f0f0, #e4e4e4);
	background:-o-linear-gradient(top, #f0f0f0, #e4e4e4);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f0f0f0', endColorstr='#e4e4e4')";
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f0f0f0', endColorstr='#e4e4e4');*/
	background-color: #EEE;
}
#spFooter table.ftSubbtn td a{
display:block;
padding:10px 0;
color:#005aac;
text-decoration:none;
}
#spFooter table.ftSubbtn td a.conL{
border-right: solid 1px #e3e3e3;
}
#spFooter table.ftSubbtn td a.conR{
border-left: solid 1px #ffffff;
}
#spFooter .copy{
padding:10px 0;
font-size:0.6em;
line-height:1em;
text-align:center;
background:#A9CF39;
color:#ffffff;
}
/*--------------------------------------------*/	
#spContents #search{
	margin:0 0 20px;
}
#spContents #search h2{
margin:0;
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#0c419a), color-stop(2%,#3d67ae), color-stop(6%,#3d67ae), color-stop(7%,#0c419a), color-stop(100%,#0c419a));
	background: -moz-gradient(linear, left top, left bottom, color-stop(1%,#0c419a), color-stop(2%,#3d67ae), color-stop(6%,#3d67ae), color-stop(7%,#0c419a), color-stop(100%,#0c419a));
	background: -o-gradient(linear, left top, left bottom, color-stop(1%,#0c419a), color-stop(2%,#3d67ae), color-stop(6%,#3d67ae), color-stop(7%,#0c419a), color-stop(100%,#0c419a));
	background-color:#0c419a;
	border-top: 1px solid #4c4c4c;
}
#spContents #search h3{
margin:0;
padding:7px 10px;
color:#1064b1;
background:#c8e6f6;
border-top:1px solid #ffffff;
font-size:0.875em;
font-weight:bold;
}
#spContents #search .line{
border-bottom: 3px solid #0c419a;
}
#spContents #search h3.line{
border-top: 1px solid #ffffff;
border-bottom: none;
}
#spContents #search h4{
margin:0;
padding:7px 10px;
color:#0c419a;
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d1cecd), color-stop(2%,#ffffff), color-stop(6%,#ffffff), color-stop(7%,#efefef), color-stop(50%,#ffffff));
	background: -moz-gradient(linear, left top, left bottom, color-stop(1%,#d1cecd), color-stop(2%,#ffffff), color-stop(6%,#ffffff), color-stop(7%,#efefef), color-stop(50%,#ffffff));
	background: -o-gradient(linear, left top, left bottom, color-stop(1%,#d1cecd), color-stop(2%,#ffffff), color-stop(6%,#ffffff), color-stop(7%,#efefef), color-stop(50%,#ffffff));
	background-color:#ffffff; 
box-shadow: 0 1px 3px rgba(214,211,209,1);
	-webkit-box-shadow: 0 1px 3px rgba(214,211,209,1);
font-size:0.875em;
font-weight:bold;
position:relative;
text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
#spContents #search .keyword,
.spInxKey{
text-align:center;
}
#spContents #search .keyword table,
.spInxKey .keyword table{
width:100%;
table-layout:fixed;
margin:10px 0;
}
#spContents #search .keyword table td.conL,
.spInxKey .keyword table td.conL{
padding:0 5px 0 0;
vertical-align:middle;
}
#spContents #search .keyword table td.conR,
.spInxKey .keyword table td.conR{
padding:0 0 0 5px;
vertical-align:middle;
}
#spContents #search .keyword table.btn td.conL{
padding-left: 10px;
}
#spContents #search .keyword table.btn td.conR{
padding-right: 10px;
}
#spContents #search .keyword table td.conR.btn,
.spInxKey .keyword table td.conR.btn{
width:80px;
}
#spContents #search .keyword table img,
.spInxKey .keyword table img{
vertical-align:middle;
}
#spContents #search .keyword input[type="text"],
.spInxKey .keyword input[type="text"]{
margin:0;
padding:5px;
border: 1px solid #e0e0e0;
border-radius:3px;
	-webkit-border-radius: 3px;
font-size:0.75em;
width:100%;
}
#spContents #search .keyword .btnGray02,
.spInxKey .keyword .btnGray02{
padding:5px 10px;
margin:0;
font-size:0.75em;
display:block;
width:100%;
}
#spContents #search .keyword .btnGray03,
.spInxKey .keyword .btnGray03{
margin:0;
padding:5px;
display:block;
text-align:center;	
}
/*--------------------------------------------*/
/*パンくずリスト*/
#pankuzu{
	margin:0 0 10px;
	padding:6px 10px;
	background:#A9CF39;
	font-size:0.625em;
	overflow:hidden;
	position:relative;
	z-index:10;
	border-top:1px solid #A9CF39;
	border-bottom:1px solid #A9CF39;
}
#pankuzu:before{
	content:"";
	display:block;
	position:absolute;
	z-index:-1;
	top:0; left:0; right:0; bottom:0;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
}
#pankuzu img{
	display:block;
	float:left;
}
#pankuzu a,
#pankuzu a:visited{
	text-decoration:none;
	color:#333;
}
#pankuzu table td{
height:13px;
vertical-align:middle;
}
#pankuzu table td span{
	font-size:0.75em;
}
#pankuzu span.none{
	background:none;
	display:none;
}
/*----------------------*/
div.pageTop{
	display:none;
}
/*--------------------------------------------*/
#spContents{
padding: 0;
width:100%;
}
/*----------------------*/
/*余白調整*/
#spContents .mLR10{
margin:0 -10px;
}
form{
padding: 0 10px;
}
.side10{
padding-left:10px;
padding-right:10px;
}
.sideNon10{
padding-left:0;
padding-right:0;
}
.pT10B20{
padding-top:10px;
padding-bottom:20px;
}
/*----------------------*/
/*画像フロート*/
#spContents .conC{
display:block;
margin:0 auto;
text-align:center;
}
/*--------------------------------------------*/
/*メインビジュアル*/
#spMainVisual {
	width: 640px;
	margin: 0 auto;
	padding: 0;
	display: none;
	overflow: hidden;
}
#spMainVisualMainWrapper {
	position: relative;
	width: 100%;
}
#spMainVisual ul#spMainVisualMain {
	position: relative;
	left: 0;
	top: 0;
	list-style: none;
	width: 3200px;
	height: 265px;
	margin: 0;
	padding: 0;
	-webkit-transition: all 0.6s ease-in-out;
	-webkit-transform: translate3d(0,0,0);
	/*display: none;*/
}
#spMainVisual ul#spMainVisualMain li{
	float:left;
	width: 640px;
	height: 265px;
	margin: 0;
	padding: 0;
}
#spMainVisual ul#spMainVisualTab {
	margin: 0;
	padding: 0;
}
#spMainVisual ul#spMainVisualTab li {
	float: left;
	margin: 0;
	padding: 0 6px;
}
#spMainVisual ul#spMainVisualMain:after,
#spMainVisual ul#spMainVisualTab:after{
    content: ""; 
    display: block; 
    clear: both;
}
/*--------------------------------------------*/
/*カテゴリ・ブランド*/
h1.top {
	margin:0 0 10px;
}
/*--------------------------------------------*/
/*商品詳細 SNS*/
div.snsBtn {
height:45px;
width:240px;
margin:0 auto;
}
div.snsBtn iframe {
width:120px;
height:21px;
overflow:hidden;
border:none;
}
div.snsBtn div.tweet {
float:left;
padding:20px 0 0 0;
width:120px;
}
div.snsBtn div.fb {
float:left;
padding:20px 0 0 0;
width:112px;
}
/**/

/* margin */
.mAuto {
	margin-right: auto !important;
	margin-left:  auto !important;
}
.m0  { margin:  0px !important; }
.m5  { margin:  5px !important; }
.m10 { margin: 10px !important; }
.m15 { margin: 15px !important; }
.m20 { margin: 20px !important; }
.m25 { margin: 25px !important; }
.m30 { margin: 30px !important; }

.mt0  { margin-top:  0px !important; }
.mt5  { margin-top:  5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }

.mr0  { margin-right:  0px !important; }
.mr5  { margin-right:  5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }

.mb0  { margin-bottom:  0px !important; }
.mb5  { margin-bottom:  5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }

.ml0  { margin-left:  0px !important; }
.ml5  { margin-left:  5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }

/* padding */
.p0  { padding:  0px !important; }
.p5  { padding:  5px !important; }
.p10 { padding: 10px !important; }
.p15 { padding: 15px !important; }
.p20 { padding: 20px !important; }
.p25 { padding: 25px !important; }
.p30 { padding: 30px !important; }

.pt0  { padding-top:  0px !important; }
.pt5  { padding-top:  5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }

.pr0  { padding-right:  0px !important; }
.pr5  { padding-right:  5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }

.pb0  { padding-bottom:  0px !important; }
.pb5  { padding-bottom:  5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }

.pl0  { padding-left:  0px !important; }
.pl5  { padding-left:  5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
