/*--------------------------------------------*/
/*買い物カゴ アクネロジースキンスマイルプラン*/
#spContents .acnelogy11249X {
padding: 0;
margin:0;
background: #ffffff;
}
#spContents .acnelogy11249Xtoku {
text-align:left;
padding: 0 0 7px;
margin:10px 5px;
background: #ffa800;
border-radius: 5px;
	-webkit-border-radius: 5px;
}
#spContents .acnelogy11249X span.top{
display:block;
}
#spContents .acnelogy11249X table.plan{
border-radius: 5px;
	-webkit-border-radius: 5px;
}
#spContents .acnelogy11249X span.plan{
height:95px;
padding:0;
display:block;
text-indent:-9999px;
font-size:0;
line-height:0;
background:url(../../../../image_sp/acnelogy/cart_title.png) center top no-repeat , #ff6c00 -webkit-gradient(linear, left top, left bottom, from(#ff6c00), to(#ffa800));
	background:url(../../../../image_sp/acnelogy/cart_title.png) center top no-repeat , #ff6c00 -moz-gradient(linear, left top, left bottom, from(#ff6c00), to(#ffa800));
	background:url(../../../../image_sp/acnelogy/cart_title.png) center top no-repeat , #ff6c00 -o-gradient(linear, left top, left bottom, from(#ff6c00), to(#ffa800));
border-radius: 5px;
	-webkit-border-radius: 5px;
}
#spContents .acnelogy11249X span.tokuten{
margin:5px 0;
display:block;
}
#spContents .acnelogy11249X table.tokuten{
margin:0 auto 3px;
width:96%;
border-radius: 10px;
	-webkit-border-radius: 10px;
background:#ffffff;
}
#spContents .acnelogy11249X .tokuten th{
padding:5px 10px 3px;
border-radius: 15px;
	-webkit-border-radius: 15px;
background:#1796cf -webkit-gradient(linear, left top, left bottom, from(#2ecbe7), to(#1796cf));
	background:#1796cf -moz-gradient(linear, left top, left bottom, from(#2ecbe7), to(#1796cf));
	background:#1796cf -o-gradient(linear, left top, left bottom, from(#2ecbe7), to(#1796cf));
color:#ffffff;
white-space:nowrap;
vertical-align:middle;
}
#spContents .acnelogy11249X .tokuten td{
vertical-align:middle;
}
#spContents .acnelogy11249Xbtm table.kome{
margin:10px 5px;
border-radius: 5px;
	-webkit-border-radius: 5px;
}
#spContents .acnelogy11249Xbtm table.kome td{
padding:5px;
}
#spContents .acnelogy11249Xbtm span.btm{
padding:5px 5px;
display:block;
}
/*--------------------------------------------*/
/*セノビックLP ssenobic*/
/*レイアウト*/
#spContents #ssenobic .toppa{
margin: 0;
padding:10px 0;
background:url(../../../../image_sp/lp_senobic/300man_back.gif);
border-top: 3px solid #e0effa;
border-bottom: 3px solid #e0effa;
}
#spContents #ssenobic .toppa p{
padding:10px 10px 0;
font-size:0.75em;
color:#464646;
}
#spContents #ssenobic .point{
margin:20px 0;
padding:20px 10px 5px;
border-radius: 5px;
	-webkit-border-radius: 5px;
background:#f7f4e5;
}
#spContents #ssenobic .point .point3title{
margin:0 0 0;
/*background:url(../../../../image_sp/lp_senobic/point_3_title_back.png) bottom right no-repeat;*/
background:#ffffff;
border-radius: 25px;
	-webkit-border-radius: 25px;
}
#spContents #ssenobic .point .point3title img{
	margin: -10px 0 0;
}
#spContents #ssenobic .point .text{
margin:10px 0;
font-size:0.75em;
}
#spContents #ssenobic .section h2.secTitle{
margin:0 0 5px;
padding:10px 0 10px 10px;
background:#005aac;
vertical-align:middle;
border-top: 1px solid #1a6bb4;
}
#spContents #ssenobic img.conL{
float:left;
}
#spContents #ssenobic img.conR{
float:right;
}
/*-----------------*/
/*タブ*/
#spContents #ssenobic table.tab{
width:100%;
}
#spContents #ssenobic table.tab td{
padding:0 3px 0 0;
text-align:center;
}
#spContents #ssenobic table.tab td.right{
padding:0;
}
#spContents #ssenobic table.tab td span.btnAct{
padding:9px 0 0;
display:block;
border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
background: -webkit-gradient(linear, left top, left bottom, from(#0086d5), color-stop(0.01, #0086d5), color-stop(0.01, #36abe2),color-stop(0.02, #36abe2), color-stop(0.03, #0085d4), to(#005aac)); 
	  background: -ms-linear-gradient(top, #0086d5, #005aac);
	  background: -moz-linear-gradient(top, #0086d5, #005aac) ;
	  background: -o-linear-gradient(top, #0086d5, #005aac) ;
background-color: #005aac;
border-right: solid 1px #034c8f;
border-bottom: solid 1px #00519a;
border-left: solid 1px #5293c9;
}
#spContents #ssenobic table.tab td .btnTab{
margin: 10px 0 0;
padding:13px 0 9px;
display:block;
border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
background:url(../../../../image_sp/lp_senobic/tab_back.gif), -webkit-gradient(linear, left top, left bottom, from(#c9f0fc), to(#a6e6fa)) #a6e6fa;
	background:url(../../../../image_sp/lp_senobic/tab_back.gif), -ms-linear-gradient(top, #c9f0fc, #a6e6fa);
	background:url(../../../../image_sp/lp_senobic/tab_back.gif), -moz-linear-gradient(top, #c9f0fc, #a6e6fa) ;
	background:url(../../../../image_sp/lp_senobic/tab_back.gif), -o-linear-gradient(top, #c9f0fc, #a6e6fa) ;
background-color: #a6e6fa;
border-right: solid 1px #8ecadd;
border-left: solid 1px #f3fcfe;
}
/*-----------------*/
/*section01*/
#spContents #ssenobic .section .Point5{
margin:0 0 10px;
padding:0 0 10px 10px;
background:#e7f9ff;
}
#spContents #ssenobic .section .Point5 h3{
margin:0 0 0 -10px;
padding:0;
background:url(../../../../image_sp/lp_senobic/sec01_p5_title_back.gif) repeat-x;
}
#spContents #ssenobic .section .Point5 h4{
margin:10px 10px 0 0;
padding:0;
/*background:url(../../../../image_sp/lp_senobic/sec01_p5_h4back.gif) bottom right no-repeat;*/
background:#ffffff;
border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
}
#spContents #ssenobic .section .Point5 h4 img{
margin: 0 0 0 -10px;
}
#spContents #ssenobic .section .Point5 h4.p05 img{
margin: 0 0 0 -10px;
}
#spContents #ssenobic .section .Point5 .text{
margin:0 10px 0 0;
padding:0 10px 10px;
background:#ffffff;
border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
font-size:0.75em;
color:#464646;
overflow: hidden; 
}
#spContents #ssenobic .section .Point5 .text .p05a{
margin:0 0 10px;
padding:4px 10px;
display:block;
border-radius: 20px;
	-webkit-border-radius: 20px;
background:#754b3d;
}
#spContents #ssenobic .section .Point5 .text .p05b{
margin:0 0 10px;
padding:4px 10px;
display:block;
border-radius: 20px;
	-webkit-border-radius: 20px;
background:#80ca1f;
}
#spContents #ssenobic .section .Point5 .sub{
margin:0 10px 10px 0;
padding:19px 0 0;
background:url(../../../../image_sp/lp_senobic/sec01_line.gif) left 10px repeat-x;
font-size:0.75em;
color:#636262;
}
#spContents #ssenobic .section .graph dl{
margin:20px 10px 0;
padding:0 5px 5px;
border-radius: 5px;
	-webkit-border-radius: 5px;
background:#58d2fa;
text-align:center;
}
#spContents #ssenobic .section .graph dl dd{
border-radius: 5px;
	-webkit-border-radius: 5px;
background:#ffffff;
}
#spContents #ssenobic .section .graph .sub{
margin:10px 10px 0;
padding:0;
font-size:0.75em;
color:#464646;
}
/*-----------------*/
/*section02*/
#spContents #ssenobic .section .goods{
margin:15px 0 0;
padding:0 10px;
text-align:center;
}
#spContents #ssenobic .section .goods table{
margin:0 auto 20px;
}
#spContents #ssenobic .section .goods td{
padding:0 0 20px;
background:url(../../../../image_sp/lp_senobic/sec02_line01.gif) bottom repeat-x;
}
#spContents #ssenobic .section .goods tr.btm td{
padding:0;
background:none;
}
#spContents #ssenobic .section .goods table td.img{
width:120px;
}
#spContents #ssenobic .section .goods dl dt{
margin:0 0 10px;
padding:4px 10px;
display:block;
border-radius: 20px;
	-webkit-border-radius: 20px;
}
#spContents #ssenobic .section .goods dl dt.g01{
background:#754b3d;
}
#spContents #ssenobic .section .goods dl dt.g02{
background:#ffeb41;
}
#spContents #ssenobic .section .goods dl dt.g03{
background:#2abaf0;
}
#spContents #ssenobic .section .goods dl dt.g04{
background:#f39801;
}
#spContents #ssenobic .section .goods dl dt.g05{
background:#eb7aab;
}
#spContents #ssenobic .section .goods dl dd.text{
font-size:0.75em;
}
#spContents #ssenobic .section .voice{
padding:0 10px;
text-align:center;
}
#spContents #ssenobic .section .voice table{
margin:0 auto 20px;
border-radius: 10px;
	-webkit-border-radius: 10px;
border:solid 2px #f9acb6;
}
#spContents #ssenobic .section .voice table th{
padding:5px 0;
background:url(../../../../image_sp/lp_senobic/sec02_voice_title_back.gif);
border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
}
#spContents #ssenobic .section .voice table td{
padding:10px 10px 0 10px;
font-size:0.75em;
color:#926b48;
}
#spContents #ssenobic .section .voice table td span{
display:block;
padding:0 0 10px;
overflow: hidden;
background:url(../../../../image_sp/lp_senobic/sec02_line02.gif) bottom repeat-x;
}
#spContents #ssenobic .section .voice table td.u01{
background:#fffeef;
}
#spContents #ssenobic .section .voice table td.u02{
background:#fffddf;
}
#spContents #ssenobic .section .voice table td.u03{
padding:10px;
background:#ffffff;
color:#636262;
font-size:0.625em;
}
#spContents #ssenobic .section .voice table td.u04{
padding:10px;
color:#db495c;
font-size:0.75em;
text-align:center;
background:#fffeef url(../../../../image_sp/lp_senobic/sec02_line03.gif) top repeat-x;
border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
}
#spContents #ssenobic .section .goodsSet{
margin:0;
padding:12px 10px 17px;
background:url(../../../../image_sp/lp_senobic/sec02_set_back.gif);
border-top:solid 3px #dff0ff;
border-bottom:solid 3px #dff0ff;
text-align:center;
}
/*-----------------*/
/*section02*/
#spContents #ssenobic .section .teiki{
margin:0 10px;
}
#spContents #ssenobic .section .teiki h3{
margin:20px 0 0;
padding:3px 5px 4px 5px;
border-radius: 20px;
	-webkit-border-radius: 20px;
}
#spContents #ssenobic .section .teiki h3.t01{
background:#2f9ff2;
}
#spContents #ssenobic .section .teiki h3.t02{
background:#55c645;
}
#spContents #ssenobic .section .teiki h3.t03{
background:#ff9547;
}
#spContents #ssenobic .section .teiki h3.t04{
background:#f97ba5;
}
#spContents #ssenobic .section .teiki h3.t05{
margin:10px 0 0;
background:#c883d8;
}
#spContents #ssenobic .section .teiki dt{
margin:10px 0 0;
text-align:center;
}
#spContents #ssenobic .section .teiki dd{
margin:10px 0 0;
font-size:0.7em;
color:#757575;
}
#spContents #ssenobic .section .teiki dd.textC{
text-align:center;
}
#spContents #ssenobic .section .teiki p{
margin: 15px 0 0;
padding:15px 0 0;
background:url(../../../../image_sp/lp_senobic/sec03_teiki_line.gif) top repeat-x;
font-size:0.7em;
color:#757575;
}
#spContents #ssenobic .section .teiki ul{
margin: 10px 0 20px 10px;
padding:0 0 0 5px;
}
#spContents #ssenobic .section .teiki li{
margin: 0 0 5px;
font-size:0.7em;
color:#757575;
list-style:disc outside;
}
#spContents #ssenobic .section .check{
margin:0 -10px;
background:#e7f9ff;
color:#0c419a;
font-size:0.75em;
}
/*-----------------*/
/*一番下*/
#spContents #ssenobic .btnBtm{
margin:20px 0;
padding:20 10px 0;
background:url(../../../../image_sp/lp_senobic/all_line.gif) top repeat-x;
}
#spContents #ssenobic .contact dt{
margin:0;
padding:9px 0;
background:#f5f5f5;
font-weight:bold;
color:#464646;
text-align:center;
}
#spContents #ssenobic .contact dd{
font-size:0.75em;
line-height:130%;
text-align:center;
margin:10px 0 0;
}
/*-----------------*/
/*ボタン*/
#spContents #ssenobic .btn_3set{
margin:10px 10px 20px;
padding:14px 0 0;
background:url(../../../../image_sp/lp_senobic/btn_3set_back.gif) top center no-repeat;
}
#spContents #ssenobic .btn_3set .btnOrange{
padding:0;
text-align:center;
border-radius: 10px;
	-webkit-border-radius: 10px;
}
#spContents #ssenobic .btnBlue{
margin: 0 0 5px;
padding:9px 12px;
display:block;
text-align:left;
border-radius: 20px;
	-webkit-border-radius: 20px;
background:url(../../../../image_sp/lp_senobic/icon_link01.png) right center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#68dff8), to(#31b9f0)) #31b9f0;
	background:url(../../../../image_sp/lp_senobic/icon_link01.png) right center no-repeat, -ms-linear-gradient(top, #68dff8, #31b9f0);
	background:url(../../../../image_sp/lp_senobic/icon_link01.png) right center no-repeat, -moz-linear-gradient(top, #68dff8, #31b9f0) ;
	background:url(../../../../image_sp/lp_senobic/icon_link01.png) right center no-repeat, -o-linear-gradient(top, #68dff8, #31b9f0) ;
background-color: #31b9f0;
border: solid 2px #ffffff;
color:#ffffff;
text-shadow: 0 0 4px #37b3f4;
font-weight:bold;
font-size:0.875em;
text-decoration:none;
}
#spContents #ssenobic .btnBlue img{
margin:0 5px 0 0;
}
#spContents #ssenobic .section .goods table .btnOrange{
margin:10px 0 0;
padding:7px 9px;
border-radius: 10px;
	-webkit-border-radius: 10px;
text-decoration:none;
font-size:0.75em;
width:auto;
}
#spContents #ssenobic .section .goods table .btnOrange img{
padding:0 5px 0 0;
}
#spContents #ssenobic .section .goodsSet .btnOrange{
margin:10px 0 0;
padding:7px 9px;
border-radius: 10px;
	-webkit-border-radius: 10px;
text-decoration:none;
font-size:0.75em;
width:auto;
}
#spContents #ssenobic .section .goodsSet .btnOrange img{
padding:0 5px 0 0;
}
#spContents #ssenobic .btnBtm .btnItiran{
padding:4px 9px;
display:block;
border-radius: 3px;
	-webkit-border-radius: 3px;
width:auto;
background:url(../../../../image_sp/lp_senobic/icon_link02.gif) right center no-repeat;
text-align:center;
border: 1px solid #cfcfcf;
}
/*-----------------*/
/*ポタージュ*/
#spContents #ssenobic .potage h2{
margin:0;
}
#spContents #ssenobic .potage .btnOrange{
margin:0 10px;
padding:7px 9px;
border-radius: 10px;
	-webkit-border-radius: 10px;
text-decoration:none;
font-size:0.75em;
width:auto;
}
#spContents #ssenobic .potage .btnOrange img{
padding:0 5px 0 0;
}
#spContents #ssenobic .potage p{
margin:10px 10px 30px;
font-size:0.75em;
color:#f9880e;
}
#spContents #ssenobic .potage p span{
font-size:90%;
color:#8b8b8b;
}
/*--------------------------------------------*/
/*買い物カゴ コンドロワン*/
#spContents .cartChondro1{
padding: 5px 4px;
margin:0;
}
#spContents .cartChondro1 table.off {
border-radius: 10px;
	-webkit-border-radius: 10px;
}
#spContents .cartChondro1 table.off th{
text-indent:-9999px;
background:url(../../../../image_sp/chondro1/chondro1_cart_hd.png) center top no-repeat, #9d9037;
height:40px;
border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
}
#spContents .cartChondro1 table.off td{
padding:10px 0 0;
}
#spContents .cartChondro1 table.off td span.yajirusi{
display:block;
text-indent:-9999px;
background:url(../../../../image_sp/chondro1/chondro1_cart_yajirusi.gif) top center no-repeat;
height:20px;
margin:5px 0 0;
}
#spContents .cartChondro1 table.off td span.s3825{
font-size:250%;
}
#spContents .cartChondro1 table.off td.otokuMag{
padding:10px 10px 0;
}
#spContents .cartChondro1 table.otoku td{
vertical-align:middle;
color:#148ee0;
padding:0;
}
#spContents .cartChondro1 table.otoku span.o01{
background:#148ee0 url(../../../../image_sp/chondro1/chondro1_cart_icon01.png) right center no-repeat;
display:block;
padding:7px 22px 7px 7px;
border-radius: 10px;
	-webkit-border-radius: 10px;
color:#ffffff;
}
#spContents .cartChondro1 table.otoku span.o02{
background:#148ee0 url(../../../../image_sp/chondro1/chondro1_cart_icon02.png) right center no-repeat;
display:block;
padding:7px 22px 7px 7px;
border-radius: 10px;
	-webkit-border-radius: 10px;
color:#ffffff;
}
#spContents .cartChondro1 table.magnet{
margin: 10px 0;
border-radius: 10px;
	-webkit-border-radius: 10px;
width:100%;
}
#spContents .cartChondro1 table.magnet td{
background:#ffffff url(../../../../image_sp/chondro1/chondro1_cart_pht.png) right center no-repeat;
padding:10px 78px 10px 10px;
border-radius: 10px;
	-webkit-border-radius: 10px;
color:#535353;
min-height:109px;
}
#spContents .cartChondro1 table.magnet span{
	line-height:150%;
}
#spContents .cartChondro1 table.magnet span.pre{
font-size:180%;
}
#spContents .cartChondro1 table.check{
margin:10px 0;
}
#spContents .cartChondro1 table.check span{
font-size:120%
}
#spContents .cartChondro1 div.attention{
	text-align:left;
	background:url(../../../../image_sp/chondro1/chondro1_cart_back.gif);
	padding:10px;
}
#spContents .cartChondro1 table.attention{
	width:100%;
}
#spContents .cartChondro1 table.attention th,
#spContents .cartChondro1 table.attention td{
padding: 10px 10px 0;
background:url(../../../../image_sp/chondro1/chondro1_cart_back.gif);
}
#spContents .cartChondro1 table.attention td span{
padding: 10px 0;
display:block;
background:url(../../../../image_sp/chondro1/chondro1_cart_line.gif) left top repeat-x;
}
/*--------------------------------------------*/
/*買い物カゴ セノビック*/
#spContents .cartSenobic{
padding: 5px 4px;
margin:0;
}
#spContents .cartSenobic div.check{
margin:10px 5px;
padding:5px;
text-align:center;
border: 2px solid #e5e5e5;
border-radius: 3px;
	-webkit-border-radius: 3px;
}
#spContents .cartSenobic div.check a{
text-decoration:none;
display:block;
color:#666666;
}
#spContents .cartSenobic div.check span{
padding:0 0 0 5px;
background:url(../../../../image_sp/senobic/senobic_cart_check.gif) left 30% no-repeat;

}
#spContents .cartSenobic div.susume{
height:26px;
margin:0 0 25px;
text-indent:-9999px;
text-align: left;
background:url(../../../../image_sp/senobic/senobic_cart_title.gif) center top no-repeat;
}
#spContents .cartSenobic div.point5 {
background:#c1e5ff;
margin:0 5px;
padding:30px 5px 10px;
border-radius: 10px;
	-webkit-border-radius: 10px;
position:relative;
}
#spContents .cartSenobic p.pointTitle{
margin:0 0 0 -135px;
text-indent:-9999px;
text-align:left;
background:url(../../../../image_sp/senobic/senobic_cart_point_title.png) center top no-repeat;
width:270px;
height:55px;
position:absolute;
top: -25px;
left:50%;
}
#spContents .cartSenobic div.point5 table{
background:#ffffff;
margin:0 0 5px;
width:100%;
padding:0;
text-align:left;
border-radius: 5px;
	-webkit-border-radius: 5px;
}
#spContents .cartSenobic div.point5 table td{
color:#757575;
}
#spContents .cartSenobic div.point5 table th{
width:10%;
padding:5px 5px 3px;
border-radius: 10px;
	-webkit-border-radius: 10px;
color:#ffffff;
white-space:nowrap;
vertical-align:middle;
text-align:center;
font-size:90%;
}
#spContents .cartSenobic div.point5 table th.p01t{
background:#1e94ec -webkit-gradient(linear, left top, left bottom, from(#2eb9f2), to(#1e94ec));
	background:#1e94ec -moz-gradient(linear, left top, left bottom, from(#2eb9f2), to(#1e94ec));
	background:#1e94ec -o-gradient(linear, left top, left bottom, from(#2eb9f2), to(#1e94ec));
}
#spContents .cartSenobic div.point5 table td.p01{
text-indent:-9999px;
background:url(../../../../image_sp/senobic/senobic_cart_point_01.gif) left top no-repeat;
height:30px;
}
#spContents .cartSenobic div.point5 table th.p02t{
background:#4bc03a -webkit-gradient(linear, left top, left bottom, from(#71d658), to(#4bc03a));
	background:#4bc03a -moz-gradient(linear, left top, left bottom, from(#71d658), to(#4bc03a));
	background:#4bc03a -o-gradient(linear, left top, left bottom, from(#71d658), to(#4bc03a));
}
#spContents .cartSenobic div.point5 table td.p02{
text-indent:-9999px;
background:url(../../../../image_sp/senobic/senobic_cart_point_02.gif) left top no-repeat;
height:30px;
}
#spContents .cartSenobic div.point5 table th.p03t{
background:#ff7d35 -webkit-gradient(linear, left top, left bottom, from(#ffab53), to(#ff7d35));
	background:#ff7d35 -moz-gradient(linear, left top, left bottom, from(#ffab53), to(#ff7d35));
	background:#ff7d35 -o-gradient(linear, left top, left bottom, from(#ffab53), to(#ff7d35));
}
#spContents .cartSenobic div.point5 table td.p03{
text-indent:-9999px;
background:url(../../../../image_sp/senobic/senobic_cart_point_03.gif) left top no-repeat;
height:44px;
}
#spContents .cartSenobic div.point5 table th.p04t{
background:#f74879 -webkit-gradient(linear, left top, left bottom, from(#f96da7), to(#f74879));
	background:#f74879 -moz-gradient(linear, left top, left bottom, from(#f96da7), to(#f74879));
	background:#f74879 -o-gradient(linear, left top, left bottom, from(#f96da7), to(#f74879));
}
#spContents .cartSenobic div.point5 table td.p04{
text-indent:-9999px;
background:url(../../../../image_sp/senobic/senobic_cart_point_04.gif) left center no-repeat;
height:19px;
}
#spContents .cartSenobic div.point5 table th.p05t{
background:#bd56d5 -webkit-gradient(linear, left top, left bottom, from(#d380e3), to(#bd56d5));
	background:#bd56d5 -moz-gradient(linear, left top, left bottom, from(#d380e3), to(#bd56d5));
	background:#bd56d5 -o-gradient(linear, left top, left bottom, from(#d380e3), to(#bd56d5));
}
#spContents .cartSenobic div.point5 table td.p05{
text-indent:-9999px;
background:url(../../../../image_sp/senobic/senobic_cart_point_05.gif) left center no-repeat;
height:19px;
}
#spContents .cartSenobic div.point5 p{
text-align:left;
color:#292929;
font-size:90%;
}
#spContents .cartSenobic table.point5 td{
padding:10px 0 0;
}
#spContents .cartSenobic .shaker{
margin:10px 0;
padding:0;
background:url(../../../../image_sp/senobic/senobic_cart_shaker_back.gif);
}
#spContents .cartSenobic img{
margin:0;
padding:0;
}
#spContents .cartSenobic .shaker p{
text-align:center;
color:#ff4200;
padding:0 0 10px;
font-size:90%;
}
#spContents .cartSenobic .otoku{
text-align:center;
color:#ffffff;
padding:5px;
margin:0 5px 5px;
font-size:110%;
background:#ff752a;
border:3px solid #ffc468;
border-radius: 5px;
	-webkit-border-radius: 5px;
}
#spContents .cartSenobic .attention{
text-align:left;
color:#666666;
margin:0 5px 5px;
font-size:90%;
}
#spContents .cartSenobic .attention span{
font-size:50%;
}
/*--------------------------------------------*/
/*買い物カゴ コンドロワン*/
#spContents .cartChondro1 table.check{
margin:10px 0;
}
#spContents .cartChondro1 table.check span{
font-size:120%
}
#spContents .cartChondro1 div.attention{
	text-align:left;
	background:url(../../../../image_sp/chondro1/chondro1_cart_back.gif);
	padding:10px;
}
#spContents .cartChondro1 table.attention{
	width:100%;
}
#spContents .cartChondro1 table.attention th,
#spContents .cartChondro1 table.attention td{
padding: 10px 10px 0;
background:url(../../../../image_sp/chondro1/chondro1_cart_back.gif);
}
#spContents .cartChondro1 table.attention td span{
padding: 10px 0;
display:block;
background:url(../../../../image_sp/chondro1/chondro1_cart_line.gif) left top repeat-x;
}
/*--------------------------------------------*/
/*セノビックLP ssenoreg*/
/*レイアウト*/
#spContents #ssenoreg{
	background:#baeefc;
	padding-bottom:10px;
}
/*-----------------*/
/*5つのお得*/
#spContents #ssenoreg div.otoku5 dl{
margin:5px 10px 0;
}
#spContents #ssenoreg div.otoku5 dl dt{
padding:5px;
font-weight:bold;
color:#ffffff;
border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}
#spContents #ssenoreg div.otoku5 dl dd{
padding:10px 5px;
background:#ffffff;
border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
#spContents #ssenoreg div.otoku5 dl dd.con{
padding-top:20px;
}
#spContents #ssenoreg div.otoku5 dl dd p.txt{
padding-top:8px;
padding-bottom:8px;
font-size:0.75em;
text-align:center;
font-weight:bold;
}
#spContents #ssenoreg div.otoku5 dl dd p.sub{
margin: 0 5px;
padding:10px;
font-size:0.75em;
text-align:center;
border-radius: 5px;
	-webkit-border-radius: 5px;
position:relative;
}
#spContents #ssenoreg div.otoku5 dl dd p.sub span{
color:#e60012;
}
#spContents #ssenoreg div.otoku5 dl dd p.sub img{
display:block;
position:absolute;
top:-2px;
left:-5px;
}
#spContents #ssenoreg div.otoku5 dl.o1 dt{
background:#2f9ff2;
}
#spContents #ssenoreg div.otoku5 dl.o1 dd p.txt{
color:#2f9ff2;
}
#spContents #ssenoreg div.otoku5 dl.o1 dd p.sub{
background:#d8eeff;
}
#spContents #ssenoreg div.otoku5 dl.o2 dt{
background:#4cbe3c;
}
#spContents #ssenoreg div.otoku5 dl.o2 dd p.txt{
color:#4cbe3c;
}
#spContents #ssenoreg div.otoku5 dl.o2 dd p.sub{
background:#d2f5cd;
}
#spContents #ssenoreg div.otoku5 dl.o3 dt{
background:#ff852b;
}
#spContents #ssenoreg div.otoku5 dl.o3 dd p.txt{
color:#ff852b;
}
#spContents #ssenoreg div.otoku5 dl.o3 dd p.sub{
padding:0;
color:#727272;
}
#spContents #ssenoreg div.otoku5 p.o04,
#spContents #ssenoreg div.otoku5 p.o05{
margin:5px 10px 0;
}
#spContents #ssenoreg ul.kome{
margin:10px 10px 20px 20px;
font-size:0.7em;
color:#5d5d5d;
}
#spContents #ssenoreg ul.kome li{
text-indent:-10px;
}
#spContents #ssenoreg ul.kome li span{
color:#e65100;
}
/*-----------------*/
/*定期購入*/
#spContents #ssenoreg div.teiki{
background:url(../../../../image_sp/lp_ssenoreg/teiki_back.gif) repeat-y;
background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -ms-background-size: 100% auto;
padding: 0 0 15px;
border-bottom: 3px solid #d3c8a8;
}
#spContents #ssenoreg .link3set{
	padding:0 10px 0;
}
#spContents #ssenoreg .erabu{
	padding:10px 10px 0;
}
#spContents #ssenoreg a.btn{
display:block;
padding: 8px;
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffc133), color-stop(60%,#ff4613), color-stop(100%,#ff7d21));
	background: -moz-gradient(linear, left top, left bottom, color-stop(1%,#ffc133), color-stop(60%,#ff4613), color-stop(100%,#ff7d21));
	background: -o-gradient(linear, left top, left bottom, color-stop(1%,#ffc133), color-stop(60%,#ff4613), color-stop(100%,#ff7d21));
background-color: #ff621a;
border: 1px solid #ff5617;
box-shadow: 0 2px 1px rgba(219,149,82,1);
	-webkit-box-shadow: 0 2px 1px rgba(219,149,82,1);
border-radius: 20px;
	-webkit-border-radius: 20px;
}
/*-----------------*/
/*その他*/
#spContents #ssenoreg p.text{
padding:10px 0 20px;
font-size:0.75em;
text-align:center;
color:#444444;
}
#spContents #ssenoreg .voice{
padding:0 0 20px;
}
#spContents #ssenoreg .shukan table{
margin: 0 0 20px;
border-collapse: separate;
border-spacing: 0;
width:100%;
}
#spContents #ssenoreg .shukan table tr.top td{
vertical-align:bottom;
width:50%;
}
#spContents #ssenoreg .shukan table tr.btm td{
vertical-align:top;
width:50%;
}
/*-----------------*/
/*一覧*/
#spContents #ssenoreg .ichiran{
background:#ffffff;
padding-bottom:10px;
margin-bottom:10px;
}
#spContents #ssenoreg .ichiran dl{
margin: 0 0 10px;
}
#spContents #ssenoreg .ichiran dl dd a{
	margin: 0 10px;
	padding: 6px 8px;
}
#spContents #ssenoreg .ichiran dl.i12841x,
#spContents #ssenoreg .ichiran dl.i13323w{
	position:relative;
}
#spContents #ssenoreg .ichiran dl.i12841x dd{
	position:absolute;
	display:block;
	top:64%;
	width:100%;
}
#spContents #ssenoreg .ichiran dl.i13323w dd{
	position:absolute;
	display:block;
	top:64%;
	width:100%;
}
#spContents #ssenoreg .ichiran dl.cartGoods{
padding-bottom:10px;
background:url(../../../../image_sp/lp_ssenoreg/ichiran_line1.gif) bottom center no-repeat;
background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -ms-background-size: 100% auto;
}
#spContents #ssenoreg .ichiran dl.cartGoods.btm{
padding-bottom:10px;
background:url(../../../../image_sp/lp_ssenoreg/ichiran_line2.gif) bottom center no-repeat;
background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -ms-background-size: 100% auto;
}
#spContents #ssenoreg .ichiran dl.cartGoods dd a{
	margin: 10px 10px 0;
}
#spContents #ssenoreg .ichiran ul.kome{
margin-bottom:0;
}
/*--------------------------------------------*/
/*1兆個のチカラ　商品詳細*/
.ichouko{
margin: 0 -10px;
}
#GoodsDetail .comment6 .ichouko table th,
#GoodsDetail .comment6 .ichouko table td{
padding: 0;
}
#GoodsDetail .comment6 .ichouko table{
border-radius: 0;
	-webkit-border-radius: 0;
margin:0;
}
.ichouko span.title{
font-weight:bold;
}
.ichouko span.kome{
display:block;
margin:10px 10px 0;
font-size:0.75em;
}
.ichouko span.kome02{
display:block;
margin:10px 0;
font-size:0.75em;
}
.ichouko a.kounyuuBtn{
	display:block;
	margin: 0 10px;
	padding:10px 10px 15px;
	text-align:center;
	text-decoration:none;
	background:url(../../../../image_sp/1chouko/btn_otoku.gif) center bottom no-repeat;
	background-size: 8px 10px;
	border: 2px solid #207ec6;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	font-weight:bold;
}
.ichouko table.prText{
	border-bottom:2px solid #e6e1ae;
	margin-bottom:20px;
}
.ichouko table.prText td p.prText{
	display:block;
	text-indent:-9999px;
	font-size:0;
	height:63px;
	background:url(../../../../image_sp/1chouko/pr_text.gif) left center no-repeat;
	background-size:257px auto;
}
.ichouko table.prText td p.prText font{
	display:none;
}
.ichouko span.naked{
display:block;
margin:10px;
}
.ichouko span.naked02{
display:block;
margin:10px 10px 0;
}
#GoodsDetail .comment6 .ichouko table.sugoiTitle td{
	padding:5px;
	vertical-align:middle;
}
#GoodsDetail .comment6 .ichouko table.sugoiTitle td.sugoi{
	padding: 5px 0;
	vertical-align:middle;
}
#GoodsDetail .comment6 .ichouko table.sugoiTitle td h2,
#GoodsDetail .comment6 .ichouko table.sugoiOmake td h2{
	font-weight:bold;
}
#GoodsDetail .comment6 .ichouko table.sugoiOmake{
}
#GoodsDetail .comment6 .ichouko table.sugoiOmake td.sugoi{
	padding: 5px 10px;
	vertical-align:middle;
}
#GoodsDetail .comment6 .ichouko table.sugoiOmake td{
	padding:5px 10px 5px 0;
	vertical-align:middle;
}
#GoodsDetail .comment6 .ichouko table.sugoiOmake td span{
	padding:5px 0 0;
	display:block;
	font-size:85%;
}
#GoodsDetail .comment6 .ichouko table.tubu td{
	padding:10px;
}
#GoodsDetail .comment6 .ichouko table.tubu td.text{
	padding-left:0;
}
#GoodsDetail .comment6 .ichouko table.tubu tr.tubu2 td{
	padding-top:0;
	padding-bottom:0;
}
#GoodsDetail .comment6 .ichouko table.qaTop{
	margin:20px 0 0;
}
#GoodsDetail .comment6 .ichouko table.qaBtm{
	margin: 0 0 10px;
}
#GoodsDetail .comment6 .ichouko table.qaTop td.img{
	background:url(../../../../image_sp/1chouko/sugoi_qa_1.gif) top left no-repeat;
	background-size:6px;
	padding:10px 0 10px 10px;
}
#GoodsDetail .comment6 .ichouko table.qaTop td.text{
	background:url(../../../../image_sp/1chouko/sugoi_qa_2.gif) top right no-repeat;
	background-size:6px;
	padding:10px 10px 10px 0;
}
#GoodsDetail .comment6 .ichouko table.qaTop td.text span{
	font-size:110%;
	font-weight:bold;
}
#GoodsDetail .comment6 .ichouko table.qaBtm td.img{
	background:url(../../../../image_sp/1chouko/sugoi_qa_4.gif) bottom right no-repeat;
	background-size:6px;
	padding:0 10px 10px 10px;
}
#GoodsDetail .comment6 .ichouko table.qaBtm td.text{
	background:url(../../../../image_sp/1chouko/sugoi_qa_3.gif) bottom left no-repeat;
	background-size:6px;
	padding:0 0 10px 10px;
}
#GoodsDetail .comment6 .ichouko table.qaBtm td.text02{
	padding:0 0 10px 10px;
}
#GoodsDetail .comment6 .ichouko table.qaBtm td.text span,
#GoodsDetail .comment6 .ichouko table.qaBtm td.text02 span{
	font-size:85%;
}
#GoodsDetail .comment6 .ichouko table.qaTop td.white,
#GoodsDetail .comment6 .ichouko table.qaBtm td.white{
	background:#ffffff;
	width:10px;
}
#GoodsDetail .comment6 .ichouko h2.osusume{
	background: #ffffff url(../../../../image_sp/1chouko/osusume_line.gif) repeat-x;
	background-size:8px 2px;
}
#GoodsDetail .comment6 .ichouko h2.osusume font{
	display:block;
	height:46px;
	background: url(../../../../image_sp/1chouko/osusume_line-16.gif) 50% 50% no-repeat;
	background-size:262px 13px;
	text-indent:-9999px;
}
#GoodsDetail .comment6 .ichouko table.osusumeImg{
	background: url(../../../../image_sp/1chouko/osusume_line.gif) 0 100% repeat-x;
	background-size:8px 2px;
}
#GoodsDetail .comment6 .ichouko table.osusumeImg img{
	float:left;
	padding: 0 0 15px;
}
#GoodsDetail .comment6 .ichouko table.osusumeImg img.p01{
	width:27.5%
}
#GoodsDetail .comment6 .ichouko table.osusumeImg img.p02{
	width:37.5%
}
#GoodsDetail .comment6 .ichouko table.osusumeImg img.p03{
	width:35%
}
#GoodsDetail .comment6 .ichouko table.kounyuu{
	margin: 20px 0 0;
}
#GoodsDetail .comment6 .ichouko h2.kounyuuTeiki{
}
#GoodsDetail .comment6 .ichouko h2.kounyuuTeiki font{
	display:block;
	height:43px;
	background: #ffffff url(../../../../image_sp/1chouko/teiki_title.gif) 50% 50% no-repeat;
	background-size:320px auto;
	text-indent:-9999px;
}
#GoodsDetail .comment6 .ichouko h2.kounyuuMatome font{
	display:block;
	height:43px;
	background: #ffffff url(../../../../image_sp/1chouko/matome_title.gif) 50% 50% no-repeat;
	background-size:320px auto;
	text-indent:-9999px;
}
#GoodsDetail .comment6 .ichouko div.kounyuuText{
	margin:10px;
	padding: 10px 0 0;
	background: url(../../../../image_sp/1chouko/teiki_line.gif) repeat-x;
	background-size:8px 2px;
	text-align:center;
}
#GoodsDetail .comment6 .ichouko div.kounyuuText table{
	margin: 0 auto;
}
#GoodsDetail .comment6 .ichouko div.kounyuuText td.img{
	width:37px;
}
#GoodsDetail .comment6 .ichouko div.kounyuuText td.teiki01{
	background: url(../../../../image_sp/1chouko/teiki_pict01_text.gif) 50% 50% no-repeat;
	background-size:263px 41px;
	height:41px;
	width:263px;
}
#GoodsDetail .comment6 .ichouko div.kounyuuText td.teiki02{
	background: url(../../../../image_sp/1chouko/teiki_pict02_text.gif) 50% 50% no-repeat;
	background-size:263px 56px;
	height:66px;
	width:263px;
}
#GoodsDetail .comment6 .ichouko div.kounyuuText td.matome01{
	background: url(../../../../image_sp/1chouko/matome_pict02_text.gif) 50% 50% no-repeat;
	background-size:263px 38px;
	height:38px;
	width:263px;
}
#GoodsDetail .comment6 .ichouko div.kounyuuText td.matome02{
	background: url(../../../../image_sp/1chouko/matome_pict03_text.gif) 50% 50% no-repeat;
	background-size:263px 38px;
	height:38px;
	width:263px;
}
#GoodsDetail .comment6 .ichouko div.kounyuuText p.text{
	display:none;
}
#GoodsDetail .comment6 .ichouko p.teikiChui{
	margin:10px 10px 20px;
}
#GoodsDetail .comment6 .ichouko img.spNone{
	display:none;
}
#GoodsDetail .comment6 .ichouko .goodsCart select {
	vertical-align:0.7em;
}
#GoodsDetail .comment6 .ichouko .chui134397 td{
	padding:10px;
}
/*--------------------------------------------*/
/*1兆個のチカラ　買い物カゴ*/
#spContents .cart1choko{
	
}
#spContents .cart1choko table.kounyuu{
	margin: 10px 0 0;
}
#spContents .cart1choko h2.kounyuuTeiki{
}
#spContents .cart1choko h2.kounyuuTeiki font{
	display:block;
	height:43px;
	background: #ffffff url(../../../../image_sp/1chouko/teiki_title.gif) 50% 50% no-repeat;
	background-size:280px auto;
	text-indent:-9999px;
}
#spContents .cart1choko div.kounyuuText{
	margin:10px;
	padding: 10px 0 0;
	background: url(../../../../image_sp/1chouko/teiki_line.gif) repeat-x;
	background-size:8px 2px;
	text-align:center;
}
#spContents .cart1choko div.kounyuuText table{
	margin: 0 auto;
}
#spContents .cart1choko div.kounyuuText td.img{
	width:25px;
}
#spContents .cart1choko div.kounyuuText td.img img{
	width:25px;
	margin: 0 5px 0 0;
}
#spContents .cart1choko div.kounyuuText td.teiki01{
	background: url(../../../../image_sp/1chouko/teiki_pict01_text.gif) 50% 50% no-repeat;
	background-size:240px auto;
	height:37px;
	width:240px;
}
#spContents .cart1choko div.kounyuuText td.teiki02{
	background: url(../../../../image_sp/1chouko/teiki_pict02_text.gif) 50% 50% no-repeat;
	background-size:240px auto;
	height:53px;
	width:240px;
}
#spContents .cart1choko div.kounyuuText p.text{
	display:none;
}
#spContents .cart1choko p.teikiChui{
	margin:10px 10px 20px;
	text-align:left;
}
#spContents .cart1choko img.spNone{
	display:none;
}
#spContents .cart1choko span.kome02{
display:block;
margin:10px 0;
font-size:0.75em;
}
#spContents .cart1choko div.cart134397{
	width:290px;
	height:165px;
	margin:5px auto;
	background:url(../../../../image_sp/1chouko/cart_134397.gif) no-repeat;
	background-size:290px 165px;
}
#spContents .cart1choko div.cart134397 table{
	display:none;	
}
/*--------------------------------------------*/
/*糀肌せっけん　商品詳細*/
div.kjSoap{
	margin:0 -10px;
}
#GoodsDetail .comment6 div.kjSoap table{
	border-radius: 0;
	-webkit-border-radius: 0;
}
#GoodsDetail .comment6 div.kjSoap table.pointTitle td{
	padding:0;
	font-weight:bold;
	vertical-align:middle;
}
#GoodsDetail .comment6 div.kjSoap table.pointTitle td font{
	font-weight:bold;
}
#GoodsDetail .comment6 div.kjSoap table.use{
	table-layout:fixed;
}
#GoodsDetail .comment6 div.kjSoap table.use th span{
	font-size:120%;
	font-weight:bold;
	padding:10px 0;
}
/*--------------------------------------------*/
/*エピステーム イベントページ*/
#epistemeCategory table.title,
#epistemeCategory table.list td font.before{
display:none;
}
#epistemeCategory div.list{
padding:0 0 6px;
background:#ececec url(../../../../image_sp/category/category_list_top.gif) top repeat-x;
background-size: 5px 10px;
	-webkit-background-size: 5px 10px;
	-moz-background-size: 5px 10px;
	-o-background-size: 5px 10px;
	-ms-background-size: 5px 10px;
}
#epistemeCategory table.list{
}
#epistemeCategory table.list td{
padding: 0 0 6px;
background:url(../../../../image_sp/episteme/category_list_btm.gif) bottom repeat-x;
background-size: 5px 6px;
	-webkit-background-size: 5px 6px;
	-moz-background-size: 5px 6px;
	-o-background-size: 5px 6px;
	-ms-background-size: 5px 6px;
}
#epistemeCategory table.list td span{
	display:block;
background:url(../../../../image_sp/episteme/icon_link05.png) right 52% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#f1eee8), to(#d1c8ba)) #f1eee8;
	background:url(../../../../image_sp/episteme/icon_link05.png) right 52% no-repeat, -ms-linear-gradient(top, #f1eee8, #d1c8ba);
	background:url(../../../../image_sp/episteme/icon_link05.png) right 52% no-repeat, -moz-linear-gradient(top, #f1eee8, #d1c8ba) ;
	background:url(../../../../image_sp/episteme/icon_link05.png) right 52% no-repeat, -o-linear-gradient(top, #f1eee8, #d1c8ba) ;
	background-color: #f1eee8;
	background-repeat: no-repeat;
	background-position: right 52%;
}
#epistemeCategory table.list td a{
display:block;
padding: 16px 10px 14px;
font-size:15px;
line-height:100%;
text-decoration:none;
color:#3e3e3e;
}
#epistemeCategory table.list td span.skincare01 a{
	background:url(../../../../image_sp/episteme/episteme_l01.png) right bottom no-repeat;
}
#epistemeCategory table.list td span.skincare02 a{
	background:url(../../../../image_sp/episteme/episteme_l02.png) right bottom no-repeat;
}
#epistemeCategory table.list td span.skincare03 a{
	background:url(../../../../image_sp/episteme/episteme_l03.png) right bottom no-repeat;
}
#epistemeCategory table.list td span.skincare04 a{
	background:url(../../../../image_sp/episteme/episteme_l04.png) right bottom no-repeat;
}
#epistemeCategory table.list td span.skincare05 a{
	background:url(../../../../image_sp/episteme/episteme_l05.png) right bottom no-repeat;
}
#epistemeCategory table.list td span.skincare06 a{
	background:url(../../../../image_sp/episteme/episteme_l06.png) right bottom no-repeat;
}
#epistemeCategory table.list td span.skincare07 a{
	background:url(../../../../image_sp/episteme/episteme_l07.png) right bottom no-repeat;
}
#epistemeCategory table.list td span.skincare08 a{
	background:url(../../../../image_sp/episteme/episteme_l08.png) right bottom no-repeat;
}
#epistemeCategory table.list td span.skincare09 a{
	background:url(../../../../image_sp/episteme/episteme_l09.png) right bottom no-repeat;
}
#epistemeCategory table.list td span.skincare10 a{
	background:url(../../../../image_sp/episteme/episteme_l10.png) right bottom no-repeat;
}
#epistemeCategory table.list td span.make01 a{
	background:url(../../../../image_sp/episteme/episteme_l11.png) right bottom no-repeat;
}
#epistemeCategory table.list td span.make02 a{
	background:url(../../../../image_sp/episteme/episteme_l12.png) right bottom no-repeat;
}
#epistemeCategory table.list td span.make03 a{
	background:url(../../../../image_sp/episteme/episteme_l13.png) right bottom no-repeat;
}
#epistemeCategory table.list td span.goods01 a{
	background:url(../../../../image_sp/episteme/episteme_l14.png) right bottom no-repeat;
}
.seriesTitle h3{
color:#3e3e3e;
}