/*--------------------------------------------*/
/*トップページ*/
header h1 {
	margin:2%;
}

/*上部ナビ*/
#spInxNav{
margin:10px 0 0;
}
#spInxNav table.ftBtn{
width:100%;
background:url(../img/soyafarm/bg_frtBtn.png) repeat-x top #349222;
table-layout: fixed;
}
#spInxNav table.ftBtn td{
font-size:0.563em;
color:#ffffff;
text-align:center;
vertical-align:middle;
}
#spInxNav table.ftBtn td a{
color:#ffffff;
text-decoration:none;
display:block;
padding:40px 0 13px;
}
#spInxNav table.ftBtn td.f04 a{
padding:34px 0 7px;
}
#spInxNav table.ftBtn td.f01{
background:url(../img/soyafarm/btn_nav01.png) no-repeat top;
}
#spInxNav table.ftBtn td.f02{
background:url(../img/soyafarm/btn_nav02.png) no-repeat top;
}
#spInxNav table.ftBtn td.f03{
background:url(../img/soyafarm/btn_nav03.png) no-repeat top;
}
#spInxNav table.ftBtn td.f04{
background:url(../img/soyafarm/btn_nav04.png) no-repeat top;
}
/*-----------------*/
/*キーワード検索*/
.spInxKey{
padding:10px;
margin: 0;
background:#FFFFDF;
background-size: 2px 2px;
	-webkit-background-size: 2px 2px;
	-moz-background-size: 2px 2px;
	-o-background-size: 2px 2px;
	-ms-background-size: 2px 2px;
text-align:left;
}
.spInxKey h2{
font-size:1em;
line-height:1;
color:#476B00;
font-weight:bold;
}
/*-----------------*/
/*h2*/
h2.spInx{
margin:0;
padding:7px 10px;
background:#E3FF99;
color:#6B9900;
font-size:1em;
font-weight:bold;
line-height:1;
vertical-align:middle;
border-top:1px solid #C6E769;
border-bottom:1px solid #C6E769;
/*
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#0c419a), color-stop(2%,#3d67ae), color-stop(6%,#3d67ae), color-stop(7%,#0c419a), color-stop(100%,#0c419a));
	background: -moz-gradient(linear, left top, left bottom, color-stop(1%,#0c419a), color-stop(2%,#3d67ae), color-stop(6%,#3d67ae), color-stop(7%,#0c419a), color-stop(100%,#0c419a));
	background: -o-gradient(linear, left top, left bottom, color-stop(1%,#0c419a), color-stop(2%,#3d67ae), color-stop(6%,#3d67ae), color-stop(7%,#0c419a), color-stop(100%,#0c419a));
background-color: #0c419a;
box-shadow: 0 1px 3px rgba(214,211,209,1);
	-webkit-box-shadow: 0 1px 3px rgba(214,211,209,1);
*/
}
/*-----------------*/
/*おすすめ*/
.inxOsusume{
margin:10px;
padding:0;
font-size:0.875em;
}
.inxOsusume .linkbox{
	border:1px solid #d5e79d;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	margin-bottom:10px;
	padding:10px 0;
}
.inxOsusume .linkbox:hover {
	cursor:pointer;
}

.inxOsusume .linkbox table{
width:100%;
}
.inxOsusume .linkbox table td.goods{
width:20%;
padding:0 10px;
text-align:center;
vertical-align:middle;
}
.inxOsusume .linkbox table td.text{
vertical-align:middle;
padding:0 0 0 10px;
}
.inxOsusume .linkbox table td.text dt {
	border-bottom:1px dashed #CCC;
	color:#476b00;
	font-size:0.85em;
	font-weight:bold;
	margin-bottom:5px;
	padding-bottom:5px;
}
.inxOsusume .linkbox table td.text dd{
font-size:0.786em;
}
.inxOsusume .linkbox.btm{
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F9F9F9)) #F9F9F9;
	background: -ms-linear-gradient(top, #ffffff, #F9F9F9);
	background: -moz-linear-gradient(top, #ffffff, #F9F9F9);
	background: -o-linear-gradient(top, #ffffff, #F9F9F9);
	background-color: #F9F9F9;
}

/*-----------------*/
/*お知らせ*/
.inxNews{
padding:0 0 10px 0;
font-size:0.875em;
}
.inxNews .btn{
padding:18px 0;
text-align:right;
}
.inxNews table tr td {
	padding:5px 10px;
}
/*-----------------*/
/*カテゴリから探す*/
.inxCategory{
margin: 0;
padding: 0;
font-size: 0.875em;
}
.inxCategory .fullstory{
	display:none;
}
.inxCategory table{
width: 100%;
table-layout: fixed;
border-bottom: solid 1px #4c4c4c;
}
.inxCategory table td{
padding:10px;
border-left:solid 2px #ffffff;
border-right:solid 1px #e3d9ca;
border-bottom:solid 2px #ffffff;
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(30%,#ffffff), color-stop(70%,#f9efe3));
	background: -moz-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(30%,#ffffff), color-stop(70%,#f9efe3));
	background: -o-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(30%,#ffffff), color-stop(70%,#f9efe3));
background-color: #f9efe3;
}
.inxCategory table td dt{
text-align:center;
color:#87744c;
font-size:0.813em;
font-weight:bold;
}
.inxCategory table td dd.img{
text-align:center;
}
.inxCategory table td dd{
font-size:0.625em;
}
/*-----------------*/
/*PCへのボタン*/
.btnPc{
margin:0 10px 10px;
text-align:center;
}
.btnPc a{
padding:7px;
display:block;
border:solid 1px #f4f1ec;
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(2%,#ffffff), color-stop(3%,#fdfcfc), color-stop(100%,#f4f1ec));
	background: -moz-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(2%,#ffffff), color-stop(3%,#fdfcfc), color-stop(100%,#f4f1ec));
	background: -o-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(2%,#ffffff), color-stop(3%,#fdfcfc), color-stop(100%,#f4f1ec));
	background-color: #f4f1ec;
box-shadow: 0 1px 0 #cac5b9;
	-webkit-box-shadow: 0 1px 0 #cac5b9;
border-radius:4px;
	-webkit-border-radius:4px;
font-size:0.75em;
text-decoration:none;
color:#1064b1;
font-weight:bold;
}
/*--------------------------------------------*/
/*買い物カゴ以降*/
#spContents .btnBlue{
margin: 0;
padding:10px;
display:block;
width:100%;
text-align:left;
border-radius: 3px;
	-webkit-border-radius: 3px;
background:url(../img/soyafarm/icon_link02.png) right center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#63C7E1), to(#2DB4D6)) #2DB4D6;
	background:url(../img/soyafarm/icon_link02.png) right center no-repeat, -ms-linear-gradient(top, #63C7E1, #2DB4D6);
	background:url(../img/soyafarm/icon_link02.png) right center no-repeat, -moz-linear-gradient(top, #63C7E1, #2DB4D6) ;
	background:url(../img/soyafarm/icon_link02.png) right center no-repeat, -o-linear-gradient(top, #63C7E1, #2DB4D6) ;
	background-color: #2DB4D6;
	background-repeat: no-repeat;
	background-position: right center;
/*filter: progid:DXImageTransform.Microsoft.gradient(Enabled=1,GradientType=0,StartColorStr='#ff9700',EndColorStr='#ff6600');*/
color:#ffffff;
text-shadow: 0 0 4px #2DB4D6;
border:none;
font-weight:bold;
font-size:0.875em;
}
#spContents a.btnBlue {
	text-decoration:none;
	width:auto;
}
#spContents .btnBlue02,
#spContents .btnBlue03{
margin: 20px 0 7px;
padding:10px 10px 10px 0;
display:block;
text-align:left;
text-decoration:none;
border-radius: 3px;
	-webkit-border-radius: 3px;
background:url(../img/soyafarm/icon_link06.png) right center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#62C6E1), to(#30B5D7)) #30B5D7 ;
	background:url(../img/soyafarm/icon_link06.png) right center no-repeat, -ms-linear-gradient(top, #62C6E1, #30B5D7);
	background:url(../img/soyafarm/icon_link06.png) right center no-repeat, -moz-linear-gradient(top, #62C6E1, #30B5D7) ;
	background:url(../img/soyafarm/icon_link06.png) right center no-repeat, -o-linear-gradient(top, #62C6E1, #30B5D7) ;
	background-color: #ff6600;
	background-repeat: no-repeat;
	background-position: right center;
color:#ffffff;
text-shadow: 0 0 4px #ff4e00;
border:none;
font-weight:bold;
font-size:0.875em;
}
#spContents .btnBlue03{
background:url(../img/soyafarm/icon_link04.gif) right center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#62C6E1), to(#30B5D7)) #30B5D7;
	background:url(../img/soyafarm/icon_link04.gif) right center no-repeat, -ms-linear-gradient(top, #62C6E1, #30B5D7);
	background:url(../img/soyafarm/icon_link04.gif) right center no-repeat, -moz-linear-gradient(top, #62C6E1, #30B5D7) ;
	background:url(../img/soyafarm/icon_link04.gif) right center no-repeat, -o-linear-gradient(top, #62C6E1, #30B5D7) ;
	background-color: #30B5D7;
	background-repeat: no-repeat;
	background-position: right center;
}
#spContents .btnBlue02 img,
#spContents .btnBlue03 img{
vertical-align:text-bottom;
margin:0 5px 0 0;
}
#spContents .btnGray{
margin: 0;
padding:8px 30px 8px 15px;
text-align:left;
border-radius: 3px;
	-webkit-border-radius: 3px;
background:url(../img/soyafarm/icon_link03.png) right center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#7a7a7a), to(#535252)) #535252 ;
	background:url(../img/soyafarm/icon_link03.png) right center no-repeat, -ms-linear-gradient(top, #7a7a7a, #535252);
	background:url(../img/soyafarm/icon_link03.png) right center no-repeat, -moz-linear-gradient(top, #7a7a7a, #535252) ;
	background:url(../img/soyafarm/icon_link03.png) right center no-repeat, -o-linear-gradient(top, #7a7a7a, #535252) ;
	background-color: #535252;
	background-repeat: no-repeat;
	background-position: right center;
color:#ffffff;
text-shadow: 1px 1px 0 #494949;
border:none;
font-weight:bold;
font-size:0.75em;
text-decoration:none;
}
#spContents .btnGray02{
padding:3px 10px;
border-radius: 3px;
	-webkit-border-radius: 3px;
background:-webkit-gradient(linear, left top, left bottom, from(#7a7a7a), to(#535252)) #535252 ;
	background:-ms-linear-gradient(top, #7a7a7a, #535252);
	background:-moz-linear-gradient(top, #7a7a7a, #535252);
	background:-o-linear-gradient(top, #7a7a7a, #535252);
	background-color:#535252;
color:#ffffff;
text-shadow: 1px 1px 0 #494949;
border:none;
font-weight:bold;
text-decoration:none;
}
#spContents .btnGray03{
padding:3px 10px;
border-radius: 3px;
	-webkit-border-radius: 3px;
background:-webkit-gradient(linear, left top, left bottom, from(#bbbbbb), to(#9b9b9b)) #9b9b9b ;
	background:-ms-linear-gradient(top, #bbbbbb, #9b9b9b);
	background:-moz-linear-gradient(top, #bbbbbb, #9b9b9b) ;
	background:-o-linear-gradient(top, #bbbbbb, #9b9b9b) ;
	background-color:#9b9b9b;
color:#ffffff;
text-shadow: 1px 1px 0 #7f7e7f;
border:none;
font-weight:bold;
text-decoration:none;
font-size:0.75em;
}
#spContents .btnGray04{
display:block;
padding:5px 10px;
margin: 0 0 5px;
border-radius: 5px;
	-webkit-border-radius: 5px;
background:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e4e4e4)) #9b9b9b ;
	background:-ms-linear-gradient(top, #fafafa, #e4e4e4);
	background:-moz-linear-gradient(top, #fafafa, #e4e4e4) ;
	background:-o-linear-gradient(top, #fafafa, #e4e4e4) ;
	background-color:#e4e4e4;
color:#0f64b1;
border:none;
text-decoration:none;
font-size:0.75em;
border-right: 1px solid #cbcbcb;
border-bottom: 1px solid #cbcbcb;
}
/*--------------------------------------------*/
/*フォーム全体*/
#spContents .conWidth input,#spContents .conWidth select{
width:100%;
padding:5px;
}
#spContents .conWidth textarea{
width:100%;
padding:5px;
height:50px;
}
#spContents .conWidth input[type="radio"]{
width:auto;
}
#spContents .conWidth input[type="submit"]{
padding:10px;
}
#spContents .conWidth .media label{
padding:0 30px 0 0;
}
/*--------------------------------------------*/
/*買い物カゴ*/
.goodsList td.bg0 {
	background:none !important;
}
.goodsList ul.cartBtn {
	margin:0 auto 10px auto;
}
.goodsList ul.cartBtn li {
	color:#FFF;
	float:left;
	font-size:0.85em;
	font-weight:bold;
	padding:10px 0;
	text-align:center;
	width:49%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.goodsList ul.cartBtn li,
.goodsList ul.cartBtn li img {
	vertical-align:middle;
}
.goodsList ul.cartBtn li:hover {
	cursor:pointer;
}
.goodsList ul.cartBtn li:last-child {
	float:right;
}
.goodsList ul.cartBtn li:first-child:last-child {
	width:100%;
}
.goodsList ul.cartBtn li.btnTeiki,
.goodsCart ul.cartBtn li.btnTeiki a {
	background-image:-moz-linear-gradient(50% 0% -90deg,rgb(51,153,204) 0%,rgb(39,120,158) 100%); 
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(51,153,204)),color-stop(1, rgb(39,120,158)));
	background-image:-webkit-linear-gradient(-90deg,rgb(51,153,204) 0%,rgb(39,120,158) 100%);
	background-image:-o-linear-gradient(-90deg,rgb(51,153,204) 0%,rgb(39,120,158) 100%);
	background-image:-ms-linear-gradient(-90deg,rgb(51,153,204) 0%,rgb(39,120,158) 100%);
	background-image:linear-gradient(180deg,rgb(51,153,204) 0%,rgb(39,120,158) 100%);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff3399cc,endColorstr=#ff27789e,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff3399cc,endColorstr=#ff27789e,GradientType=0);
}

.goodsList ul.cartBtn li.btnCart,
.goodsCart ul.cartBtn li.btnCart a {
	background-image:-moz-linear-gradient(50% 0% -90deg,rgb(234,92,95) 0%,rgb(227,41,42) 100%); 
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(234,92,95)),color-stop(1, rgb(227,41,42)));
	background-image:-webkit-linear-gradient(-90deg,rgb(234,92,95) 0%,rgb(227,41,42) 100%);
	background-image:-o-linear-gradient(-90deg,rgb(234,92,95) 0%,rgb(227,41,42) 100%);
	background-image:-ms-linear-gradient(-90deg,rgb(234,92,95) 0%,rgb(227,41,42) 100%);
	background-image:linear-gradient(180deg,rgb(234,92,95) 0%,rgb(227,41,42) 100%);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffea5c5f,endColorstr=#ffe3292a,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffea5c5f,endColorstr=#ffe3292a,GradientType=0);
}
.goodsCart ul.cartBtn {
}
.goodsCart ul.cartBtn li a {
	display:block;
	font-size:0.85em;
	font-weight:bold;
	padding:10px 0;
	text-align:center;
	width:100%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.goodsCart ul.cartBtn li a {
	color:#FFF;
	text-decoration:none;
}
.goodsCart ul.cartBtn li,
.goodsCart ul.cartBtn li img {
	vertical-align:middle;
}
.goodsCart ul.cartBtn li:first-child {
	margin-bottom:10px;
}
.cart{
margin:0 10px;
color:#464646;
font-size:0.75em;
}
.cart p.teiki{
margin:20px 0 0;
}
.cart a.teiki{
padding: 6px;
color:#005aac;
text-decoration:none;
background:#f2f2f2 -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ffffff));
	background:#f2f2f2 -moz-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ffffff));
	background:#f2f2f2 -o-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ffffff));
color:#1064b1; 
border-radius: 3px;
	-webkit-border-radius: 3px;
border: 1px solid #ffffff;
box-shadow: 1px 1px 1px #e1e0e0;
	-webkit-box-shadow: 1px 1px 1px #e1e0e0;
}
.cart img{
vertical-align: middle;
}
table.cartGoods{
margin:10px 0 0;
border-radius: 3px;
	-webkit-border-radius: 3px;
border: solid 1px #e0e0e0;
}
table.cartGoods td{
font-size:0.75em;
color:#464646;
font-weight:bold;
word-break:break-all;
}
table.cartGoods td a{
word-break:break-all;
}
table.cartGoods td img{
margin:5px 15px 0 5px;
}
table.cartGoods .money{
padding:7px 9px 7px 0;
color:#F33;
background:#f2f2f2;
}
table.cartGoods .teiki{
margin:5px;
padding:7px 0;
background:#ffffff;
border-radius: 3px;
	-webkit-border-radius: 3px;
color:#eb4242;
text-align:center;
border: 2px solid #eb4242;
}
table.cartGoods02{
margin:10px 0;
width:100%;
/*
border-radius: 3px;
-webkit-border-radius: 3px;
*/
border: solid 2px #A9CF39;
background:#EDFFBF;
}
table.cartGoods02 td.campaignCodeMsg {
	background-color:#FFF;
	border-top:none;
	color:#F33;
	font-size:0.75em;
	padding:0 10px 10px 10px;
	text-align:center;
}

table.cartGoods02 tr td {
	border-top:1px dotted #A9CF39;
}
table.cartGoods02 tr:first-child td {
	border-top:none;
}

table.cartGoods02 tr.bt0 td {
	border-top:none;
}

/*--------------------------------------------*/
#spContents .bdrGray{
margin:10px 0 0;
padding:9px;
border-radius: 3px;
	-webkit-border-radius: 3px;
border: solid 1px #e0e0e0;
}
#spContents .bdrGray h3{
margin:0 0 10px;
font-size:0.875em;
font-weight:bold;
}
#spContents .bgYellow {
padding:15px;
background:#FFFFDF;
border-radius: 3px;
	-webkit-border-radius: 3px;
color:#606060;
font-size:0.875em;
/*font-weight:bold;*/
}
#spContents .bgGray {
padding:15px;
background:#f2f2f2;
border-radius: 3px;
	-webkit-border-radius: 3px;
color:#606060;
}
#spContents .bgGray h3{
font-size:0.75em;
}
#spContents .bgYellow li{
padding:0 0 10px;
margin:0 0 10px;
border-bottom: dotted 1px #7f7f7f;
}
#spContents .bgYellow li:last-child{
padding:0;
margin:0;
border-bottom: none;
}
#spContents ul.bgYellowGoods {
padding:15px;
margin:0 0 10px;
background:#fff9d1;
border-radius: 3px;
	-webkit-border-radius: 3px;
color:#606060;
font-size:0.875em;
font-weight:bold;
}
#spContents .bgYellowGoods li{
width:100%;
padding:0 0 10px;
margin: 0 0 10px;
border-bottom: dotted 1px #7f7f7f;
display:block;
}
#spContents .bgYellowGoods li:last-child{
width:100%;
padding:0;
margin:0;
border-bottom: none;
display:block;
}
#spContents span.red{
color:#eb4242;
}
#spContents span.orange{
color:#ff6800;
}
#spContents p.naked{
font-size:0.75em;
color:#333;
margin:0 10px;
padding:0;
}
#spContents .bgYellow p.naked{
font-size:0.857em;
}
#spContents .estimate{
font-size:1em;
color:#ee5555;
margin:10x;
text-align:center;
font-weight:bold;
}
#spContents p.Reserve img{
vertical-align:-0.1em;
}
/*商品詳細ページ*/
/*上部*/
#GoodsDetail{
padding:10px 0 0;
}
#GoodsDetail h1{
color:#476B00;
font-size:1em;
padding:0 0 10px;
border-bottom: 1px dashed #A6CE39;
}
#GoodsDetail h1 img{
vertical-align:0.05em;
margin:0 5px 0 0;
}
#GoodsDetail .goodsIntro{
padding: 0 10px;
}
#GoodsDetail p.comment{
color:#FF4900;
font-size:0.7em;
font-weight:bold;
margin:10px 0 0;
}
#GoodsDetail .goodsImg{
margin:10px 0;
text-align:center;
}
#GoodsDetail p.goodsIcon{
margin:0 0 8px;
text-align:center;
font-size:0.65em;
}
#GoodsDetail p.goodsIcon a{
color:#636363;
}
#GoodsDetail .goodsCart{
background:#FBDBE3;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-ms-border-radius:3px;
-o-border-radius:3px;
text-align:center;
padding:15px 0;
font-size:1em;
}
#GoodsDetail .goodsCart span{
font-size:0.75em;
padding:0 0.2em;
}
#GoodsDetail .goodsCart p.price{
color:#C00;
padding: 0 0 10px;
}
#GoodsDetail .goodsCart p.price > strong {
	font-size:1.2em;
	font-weight:bold;
	vertical-align:baseline;
}

#GoodsDetail .goodsCart p.price > span > strong {
	font-weight:bold;
	padding:0 0.2em;
}
#GoodsDetail .goodsCart form{
	margin:0;
	padding:0;
	text-align:center;
}
#GoodsDetail .goodsCart form table{
	margin: 0 auto;
}
#GoodsDetail .goodsCart form td{
	vertical-align:middle;
}

#GoodsDetail .review{
padding:10px 0 0;
font-size:0.85em;
text-align:center;
}
#GoodsDetail .comment6{
padding:10px 0;
font-size:0.85em;
}
#GoodsDetail .comment6 table{
border-radius: 5px;
	-webkit-border-radius: 5px;
margin:0 0 10px;
}
#GoodsDetail .comment6 table th,
#GoodsDetail .comment6 table td{
padding: 5px 10px;
}
#GoodsDetail .listBtn{
text-align:right;
padding: 10px 0 0;
}
#GoodsDetail .listBtn img{
border: 1px solid #d2d2d2;
}
/*-----------------*/
/*詳細*/
#GoodsDetail h2.title{
margin:0;
padding:7px 10px;
font-size:0.9em;
background:#0c419a;
color:#ffffff;
line-height:1;
vertical-align:middle;
/*
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#0c419a), color-stop(2%,#557ab8), color-stop(6%,#557ab8), color-stop(7%,#0c419a), color-stop(100%,#0c419a));
	background: -moz-gradient(linear, left top, left bottom, color-stop(1%,#0c419a), color-stop(2%,#3d67ae), color-stop(6%,#3d67ae), color-stop(7%,#0c419a), color-stop(100%,#0c419a));
	background: -o-gradient(linear, left top, left bottom, color-stop(1%,#0c419a), color-stop(2%,#3d67ae), color-stop(6%,#3d67ae), color-stop(7%,#0c419a), color-stop(100%,#0c419a));
*/
background-color: #4EA03D;
}
#GoodsDetail table.detail{
font-size:0.75em;
width:100%;
}
#GoodsDetail table.detail th{
border-top: 1px solid #ffffff;
border-bottom: 1px solid #e0e0e0;
border-right: 1px dotted #d5d5d5;
background: #f5f5f5;
padding:10px 10px 10px 20px;
text-align:left;
white-space:nowrap;
}
#GoodsDetail table.detail td{
border-top: 1px solid #ffffff;
border-bottom: 1px solid #e0e0e0;
padding:10px 20px 10px 10px;
}
/*-----------------*/
/*下部*/
#GoodsDetail .goodsBtm{
margin: 15px 0 0;
padding:10px 10px 15px;
}
#GoodsDetail .mail{
padding:10px 0 20px;
text-align:center;
font-size:0.75em;
}
#GoodsDetail .mail img{
vertical-align:middle;
}
#GoodsDetail .goodsBtm p.list a{
display:block;
padding:7px 10px;
margin:0 0 5px;
color:#414141;
text-decoration:none;
background: #e8e8e8 url(../img/soyafarm/maru_green.gif) right center no-repeat;
font-size:0.7em;
border-radius: 3px;
	-webkit-border-radius: 3px;
}
/*--------------------------------------------*/
/*ブランド商品ページ*/
#GoodsList{
text-align:center;
padding: 0 10px;
}
#GoodsList .goodsList{
border-collapse: separate;
border-spacing: 0 8px;
width:100%;
}
#GoodsList .goodsList td{
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3)) #f3f3f3;
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(30%,#ffffff), color-stop(100%,#f3f3f3));
	background:-ms-linear-gradient(top, #ffffff, #f3f3f3);
	background: -moz-linear-gradient(top, #ffffff, #f3f3f3);
	background: -o-linear-gradient(top, #ffffff, #f3f3f3);
	background-color: #f3f3f3;
border-radius: 3px;
	-webkit-border-radius: 3px;
}
#GoodsList .fullstory{
	display:none;
}
#GoodsList .goodsList td.goodsInfo{
border: 1px solid #e0e0e0;
width:98%;
}
#GoodsList .goodsList td.goodsInfo .linkbox{
margin: 0;
padding:10px;
}
#GoodsList .goodsList td.goodsInfo dt{
color:#476B00;
font-weight:bold;
font-size:0.85em;
line-height:110%;
padding: 0 0 10px;
}
#GoodsList .goodsList td.goodsInfo dt img{
vertical-align:-0.15em;
padding:0 0 0 3px;
}
#GoodsList .goodsList td.goodsInfo dd.img{
float:left;
margin: 0 8px 0 0;
padding:5px;
width:60px;
}
#GoodsList .goodsList td.goodsInfo dd.text{
font-size:0.7em;
line-height:120%;
}
#GoodsList .goodsList td.goodsInfo dd.price{
font-size:0.8em;
font-weight:normal;
margin: 5px 0 0;
}
#GoodsList .goodsList td.goodsInfo dd.price strong {
color:#DE0000;
font-weight:bold;
}
#GoodsList .goodsList td.goodsCart{
vertical-align:middle;
white-space:nowrap;
border: 1px solid #ff9a00;
border-radius: 3px;
	-webkit-border-radius: 3px;
}
#GoodsList .goodsList td.goodsCart .linkbox{
margin: 0;
padding: 0 1px;
font-size:8px;
color:#ff7300;
text-align:center;
}
#GoodsList .goodsList td.goodsReserve{
vertical-align:middle;
white-space:nowrap;
border: 1px solid #349e26;
border-radius: 3px;
	-webkit-border-radius: 3px;
}
#GoodsList .goodsList td.goodsReserve .linkbox{
margin: 0;
padding: 0 1px;
font-size:8px;
color:#349e26;
text-align:center;
}
#GoodsList .goodsList td.goodsCart .linkbox img,
#GoodsList .goodsList td.goodsReserve .linkbox img{
	margin: 0 0 6px;
}
#GoodsList .goodsList td.goodsText{
vertical-align:middle;
padding: 0 3px;
white-space:nowrap;
border: 1px solid #e0e0e0;
border-radius: 3px;
	-webkit-border-radius: 3px;
font-size:8px;
color:#aaaaaa;
text-align:center;
}
#GoodsList .goodsList td.none{
background:none;
border-radius: none;
width:0;
display:none;
}
/*-----------------*/
/*下部*/
.NaviPage{
margin: 7px 0 20px;
}
.NaviPage table{
border-collapse: separate;
}
.NaviPage table td{
font-size:0.7em;
text-align:center;
vertical-align:middle;
padding: 1px 0 0;
}
.NaviPage table td.prev{
padding:0 0 0 10px;
white-space:nowrap;
background:url(../img/soyafarm/pnavi_prev_act.png) right bottom no-repeat;
width:80px;
height:21px;
}
.NaviPage table td.next{
padding:0 10px 0 0;
white-space:nowrap;
background:url(../img/spyafarm/pnavi_next_act.png) left bottom no-repeat;
width:80px;
height:21px;
}
.NaviPage table td.page{
border-top: 1px solid #d9d9d9;
width:100%;
color:#464646;
}
.NaviPage table td p{
border-top: 1px solid #d9d9d9;
padding: 1px 0 0;
display:block;
width:80px;
height:19px;
}
.NaviPage table td.prev a.aNext,
.NaviPage table td.next a.aPrev{
	display:none;
}
/*--------------------------------------------*/
/*その他ページ調整 リスト*/
.listTitle{
font-size:0.95em;
padding:10px;
margin: -10px 0 10px;
font-weight:bold;
background-color: #0c419a;
overflow:hidden;
position:relative;
z-index:10;
color:#ffffff;
border-top:1px solid #0c419a;
border-bottom:1px solid #0c419a;
}
.listTitle:before{
content:"";
display:block;
position:absolute;
z-index:-1;
top:0; left:0; right:0; bottom:0;
border-top:1px solid #446db1;
border-bottom:1px solid #ced9eb;
}
.listTitle span{
font-size:70%;
}
.seriesTitle{
margin: 12px 0 0;
background:#ffffff;
}
.seriesTitle h3{
padding:17px 10px 7px;
font-weight:bold;
color:#005aac;
}
.seriesTitle h3 span{
font-size:115%;
}