@charset "shift_jis";


#goods{
}

#goods h1{
	margin-bottom:25px;
}


/* LEAD
----------------------------------------------------------------------------- */
#goods .lead{
	font-size:120%;
	color:#b83314;
	margin-bottom:25px;
	line-height:160%;
}


/* ITEM
----------------------------------------------------------------------------- */
#goods .item{
	background:url(../shun_img/common/line2.gif) repeat-x bottom;
	margin-bottom:25px;
}

#goods .item .txt{
	background:url(../shun_img/common/line2.gif) repeat-x top;
	width:315px;
	float:left;
}
#goods .item .pic{
	width:300px;
	float:right;
}
#goods .item .pic .item img{
	border:1px solid #d6d4d4;
	margin:-1px;
}
#goods .item .pic p{
	margin-bottom:15px;
}

/* item > txt */
#goods .item .txt table{
	width:100%;
	margin-bottom:15px;
}
#goods .item .txt th{
	background:url(../shun_img/common/line1.gif) repeat-x bottom;
	padding:10px 10px 10px 0;
	vertical-align:top;
	white-space:nowrap;
}
#goods .item .txt td{
	background:url(../shun_img/common/line1.gif) repeat-x bottom;
	padding:10px 0 10px 10px;
	vertical-align:top;
}
#goods .item .txt td.name{
	font-weight:bold;
	font-size:120%;
}
#goods .item .txt td.price{
	font-weight:bold;
	color:#b83314;
	font-size:120%;
}

#goods .item .txt .cart{
	border:3px solid #c6b859;
	padding:15px 10px;
	width:295px;
	background:#FFFFF3;
	text-align:center;
	margin-bottom:10px;
}
#goods .item .txt .cart table{
	margin:0 auto;
	width:auto;
	border-spacing:0;
}
#goods .item .txt .cart th,
#goods .item .txt .cart td{
	padding:0 3px;
	background:none;
	vertical-align:middle;
}
#goods .item .txt .cart select{

}
#goods .item .txt .cart .stock{
	font-weight:bold;
	margin:-5px 0 5px 0;
	color:#b83314;
}
#goods .item .txt .cart .none{
	background:url(../shun_img/common/icon_none.gif) no-repeat left center;
	padding:0 0 0 17px;
}
#goods .item .txt .cart .little{
	background:url(../shun_img/common/icon_little.gif) no-repeat left center;
	padding:0 0 0 17px;
}


#goods .item .txt p{
	margin-bottom:15px;
	line-height:180%;
}

p.sanchoku{
	border:3px solid #b83314;
	color:#b83314;
	width:642px;
	text-align:center;
	padding:5px;
	margin-bottom:30px !important;
}

#goods .item .txt .review{
	/*background:url(../shun_img/common/line1.gif) repeat-x bottom;*/
	color:#d6d4d4;
	width:321px;
	text-align:center;
}
#goods .item .txt .review a.read{
	border-top:3px solid #b83314;
	border-left:3px solid #b83314;
	border-right:3px solid #b83314;
	padding:5px;
	display:block;
}


/* item > pic */
#goods .pic{
}

/* movie */
#goods .movie embed{
	margin-bottom:10px;
	display:block;
}


#goods .accessory_list ul{
	list-style:none;
	margin:0;
}
#goods .accessory_list li{
	float:left;
	width:135px;
	text-align:center;
	margin:0 5px 15px 5px;
}

/* GOODS TABLE
----------------------------------------------------------------------------- */
.infoTable{
	line-height:180%;
	padding:10px 10px 5px 0px;
	margin-bottom:25px;
}

.infoTable h3{
    margin-bottom:20px;
	position:relative;
}

.infoTable p.btn{
	position:relative;
	top:-40px;
	left:480px;
	margin-bottom:-20px;
}

.infoTable table{
	width:100%;
	border:#bfbab2 1px solid;
}

.infoTable table th{
	width:150px;
	padding:10px;
	border-bottom:#bfbab2 1px solid;
}

.infoTable table td{
	padding:10px;
	border-bottom:#bfbab2 1px solid;
}

.infoBox{
	line-height:180%;
	padding:10px 10px 5px 10px;
	margin-bottom:25px;
	border:#bfbab2 1px solid;
}

/* COMMENT
----------------------------------------------------------------------------- */
#goods .comment{
	line-height:180%;
	background:#f7f7e1;
	padding:20px 20px 5px 20px;
	margin-bottom:25px;
}
#goods .comment h3{
	margin-bottom:5px;
	color:#222;
}
#goods .comment p{
	margin-bottom:25px;
}
#goods .comment .fLeft{
	margin-right:15px;
}
#goods .comment .fRight{
	margin-left:15px;
}
#goods .comment .pic img,
#goods .comment .picwide img,
#goods .comment .map img{
	margin-bottom:5px;
}

#goods .comment .pic{
	width:190px;
	font-size:80%;
	letter-spacing:1px;
	color:#837729;
	line-height:150%;
}

#goods .comment .picwide{
	width:612px;
	font-size:80%;
	letter-spacing:1px;
	color:#837729;
	line-height:150%;
}

#goods .comment .map{
	width:190px;
	font-size:80%;
	letter-spacing:1px;
	color:#837729;
	line-height:150%;
}

#goods .comment .txt{
	width:402px;
	margin:0;
}

#goods .comment .redttl{
	color:#b83314;
	font-weight:bold;
	font-size:120%;
}

#goods .comment .blackttl{
	clear:both;
	color:#333;
	font-weight:bold;
	margin-bottom:10px;
}

#goods .comment .brownbarttl{
	clear:both;
	color:#FFF;
	font-weight:bold;
	font-size:120%;
	margin-bottom:5px !important;
	background:#ad9d79;
	padding:0px 10px;
}

#goods .flow{
	padding:14px;
	border:1px solid #d8d8ba;
	background:#FFF;
	margin-bottom:15px;
	clear:both;
}

#goods .flow p.flowbox{
	background:url(../shun_img/common/flowarw.gif) center bottom no-repeat;
	padding-bottom:25px;
	margin-bottom:15px;
}

#goods .frame{
	padding:14px;
	border:1px solid #d8d8ba;
	background:#FFF;
	margin-bottom:15px;
	clear:both;
}

#goods .frame .fLeft180{
	float:left;
	width:180px;
	margin-right:20px;
}

#goods .frame .fLeft180 img{
	margin-bottom:5px;
}

#goods .frame .fLeft280{
	float:left;
	width:280px;
}

#goods .frame .fRight280{
	float:right;
	width:280px;
}

#goods .frame p{
	margin-bottom:15px;
}

#goods .comment .olstep{
	padding-left:30px;
	margin-bottom:30px;
}

#goods .ulflow li{
	clear:both;
	margin-bottom:10px;
}

#goods .ulflow li img{
	margin-bottom:10px;
}

#goods .ulflow2 li{
	float:left;
	margin-top:10px;
	width:280px;
	padding:10px 11px 0 0;
	border-top:1px dotted #ccc;
}

#goods .ulflow2Wide li{
	float:left;
	margin-top:10px;
	width:582px;
	padding:10px 0 0 0;
	border-top:1px dotted #ccc;
}




/* COMMENT
----------------------------------------------------------------------------- */

#goods  .outline{

}
#goods  .outline table{
	width:100%;
	margin-bottom:25px;
}
#goods  .outline th{
	font-weight:lighter;
	text-align:left;
	white-space:nowrap;
	padding-right:15px;
	vertical-align:top;
	color:#271a17;
}
#goods  .outline td{
	padding-bottom:15px;
}


#goods  .outline2{

}
#goods  .outline2 table{
	width:100%;
	margin-bottom:25px;
	border-left:1px solid #e8e8d0;
	border-top:1px solid #e8e8d0;
}
#goods  .outline2 th{
	font-weight:bold;
	text-align:center;
	white-space:nowrap;
	padding:5px 10px;
	border-right:1px solid #e8e8d0;
	border-bottom:1px solid #e8e8d0;
	background:#f9f9ec;
}
#goods  .outline2 td{
	padding:5px 10px;
	border-right:1px solid #e8e8d0;
	border-bottom:1px solid #e8e8d0;
}

/* BUYER
----------------------------------------------------------------------------- */
#goods .buyer{
	background:url(../shun_img/common/buyer_back.gif) no-repeat top;
	padding:10px 0 0 0;
	margin-bottom:25px;
	margin-top:10px;
}
#goods .buyer dl{
	background:url(../shun_img/common/buyer_back.gif) no-repeat bottom;
	padding:0 0 2px 0;
}
#goods .buyer dt{
	float:left;
	margin:0 15px;
}
#goods .buyer dd{
	line-height:160%;
	margin-right:10px;
	padding:10px 0;
}
#goods .buyer dd img{
	margin-bottom:5px;
}


/* RECIPE
----------------------------------------------------------------------------- */
#goods .recipe{
	line-height:180%;
	background:#f7f5e8;
	padding:20px 20px 0px 20px;
	margin-bottom:25px;
	margin-top:10px;
}
#goods .recipe .menu{
	background:url(../shun_img/common/recipe_top.gif) no-repeat top;
	padding:10px 0 0 0;
	margin-bottom:20px;

}
#goods .recipe .menu h4{
	margin:10px 0 0 20px;
}

#goods .recipe .menu dl{
	background:url(../shun_img/common/recipe_back.gif) no-repeat bottom;
}
#goods .recipe .menu dt{
	float:right;
	margin:0 20px 10px 10px;
	clear:right;

}
#goods .recipe .menu dd{
	line-height:160%;
	margin:10px 20px 20px 20px;
}

#goods .recipe .menu span.ttl{
	line-height:160%;
	color:#789030;
	font-weight:bold;
}

#goods .recipe .menu li.num1{
	line-height:160%;
	margin-bottom:10px;
	padding-left:18px;
	background:url(../shun_img/common/icon_num01.gif) no-repeat 0px 0.1em;
}
#goods .recipe .menu li.num2{
	line-height:160%;
	margin-bottom:10px;
	padding-left:18px;
	background:url(../shun_img/common/icon_num02.gif) no-repeat 0px 0.1em;
}
#goods .recipe .menu li.num3{
	line-height:160%;
	margin-bottom:10px;
	padding-left:18px;
	background:url(../shun_img/common/icon_num03.gif) no-repeat 0px 0.1em;
}
#goods .recipe .menu li.num4{
	line-height:160%;
	margin-bottom:10px;
	padding-left:18px;
	background:url(../shun_img/common/icon_num04.gif) no-repeat 0px 0.1em;
}
#goods .recipe .menu li.num5{
	line-height:160%;
	margin-bottom:10px;
	padding-left:18px;
	background:url(../shun_img/common/icon_num05.gif) no-repeat 0px 0.1em;
}

/* order
----------------------------------------------------------------------------- */

#order{
		text-align:center!important;}

#order p.line{
	color:#AF3114;
	font-size:120%;
	font-weight:bold;
	background:url(../shun_img/common/line1.gif) repeat-x top;
	padding:20px 0 10px 0;
	margin-top:20px;
	margin-bottom:5px;
}
#order p{
	margin-top:10px;
}
#order img{
	text-align:center!important;
}

/* BLOG
----------------------------------------------------------------------------- */

.blogLink{
	margin-bottom:20px;
	border:#bfbab2 1px solid;
}

.blogLink .blogTit{
	background:#f7f7e1;
	padding:3px 10px;
	font-weight:bold;
	color:#837729;
}

.blogLink p{
	margin-bottom:5px !important;
}

.blogLink li{
	zoom:1;
	vertical-align:bottom;
	background:url(../shun_img/common/icon_report.gif) 10px center no-repeat;
	padding:5px 0 5px 35px;
	_padding:7px 0 7px 35px;
}

.blogLink li a:hover{
	background:#d7ca7d;
}
