@charset "shift_jis";


#category{
	background:url(../shun_img/common/line2.gif) repeat-x top;
	padding:20px 0 0 0;
}
#category .okinawa{
	clear:both;
	background:url(../shun_img/common/line2.gif) repeat-x top;
	padding:30px 0;
}
#category h1{
	/*background:url(../shun_img/common/line1.gif) repeat-x bottom;
	padding:0 0 20px 0;*/
	margin-bottom:20px;
	font-size:160%;
	font-weight:bold;
	letter-spacing:1px;
}

#category h2{
	background:url(../shun_img/common/line2.gif) repeat-x top;
	padding:20px 0 0 0;
	margin-bottom:15px;
	color:#b83314;
	font-size:140%;
}


/* maker */
#category table.goods_maker_table{
	background:url(../shun_img/common/line2.gif) repeat-x top;
	padding:20px 5px 5px 5px;
}

#category td.goods_maker_title{
	height:30px;
	background:url(../shun_img/common/shortcut_ttl03.gif) no-repeat;
	background-position:left bottom;
	padding-top:20px;
}

#category td.goods_maker_line1{
	padding-bottom:20px;
	padding-top:10px;
    line-height:180% !important;
}

/* item */
#category .list{
	margin:0 -26px 0 0;
	padding-bottom:30px;
	width:670px;
}
#category .list form{
	float:left;
	margin-right:26px;
	width:130px;
	margin-bottom:25px;
	text-align:center;
	background:url(../shun_img/common/line1.gif) repeat-x top;
	padding-top:25px;
}
#category .list .noline{
	background:none;
	padding-top:0;
}
#category .list p a{
	color:#514e4c;
	text-decoration:none;
	margin-bottom:5px;
}
#category .list p strong{
	text-decoration:underline;
	color:#271a17;
	font-weight:lighter;
}
#category .list p select{
	vertical-align:middle;
}
#category .list p img{
	margin-bottom:5px;
	padding:5px;
}
#category .list p a{
	float:left;
}
#category .list p a:hover img{
	padding:0;
	border:5px solid #d7ca7d;
}

#category .list .none,
#category .list .little{
	color:#b83314;
	font-size:80%;
}

#category .list a.pdf{
	color:#271a17;
	display:block;
	width:125px;
	text-align:center;
	padding:0 0 0 5px;
	
}
#category .list a.pdf img{
	padding:0;
	border:0!important;
}