@charset "shift_jis";

#easyTooltip{
	margin:0 10px 1em 0;
	width:407px;
	background:#ffffff;
	line-height:130%;
	border:2px #ececec solid;
	}
	
#easyTooltip h3{
	text-align:center;
	}
#easyTooltip h3.pink{
	background:#fa8890;
}

#easyTooltip h3.blue{
	background:#76aedf;
}

#easyTooltip h3.orange{
	background:#eb931d;
}
	
#easyTooltip dl.raw {
	padding:10px;
	}
#easyTooltip  dl.raw dt{
	float:left;
	width:50px;
	font-size:80%;
}
#easyTooltip dl.raw dd{
	font-size:80%;
	margin-left:50px;
	}	
	
#easyTooltip p{
	padding:10px;
	padding-top:0px;
	}	
#easyTooltip p strong{
	color:#000;
}

#itemMenu01,#itemMenu02,#itemMenu03,#itemMenu04,
#itemMenu05,#itemMenu06,#itemMenu07,#itemMenu08{
	display:none;
}