@charset "Shift_JIS";
/*上書き調整2011.11～*/
/*--------------------------------------------*/
#content .wrapSuisoSono{
margin:30px 0;
}
#content .wrapSuisoSono td{
padding:0;
vertical-align:top;
}
#content .wrapSuisoSono td p{
margin:0 0 0 15px;
}
#content .wrapSuisoSono .prf{
background:url(../shun_img/suisosui/prof_foot.gif) no-repeat 0 100%;
padding:0 0 40px 0;
}
#content .wrapSuisoSono .prf dd{
padding:10px 30px 0 30px;
}
/*--------------------------------------------*/
#content .coanShuwin h1,#content .coanShuwin h2,#content .coanShuwin p,#content .coanShuwin ul,#content .coanShuwin table{
margin:0;
padding:0;
background:none;
border:none;
text-indent:0;
}
#content .coanShuwin td,#content .coanShuwin th{
vertical-align:top;
}
#content .coanShuwin{
position:relative;
background:#faf2ee;
margin-bottom:50px;
}
#content .coanShuwin p.intro{
padding:0 25px 30px 25px;
}
#content .coanShuwin div.ele{
padding:25px;
background:url(../shun_img/shuwin/line.gif) no-repeat;
}
#content .coanShuwin div.ele td.pht{
padding:0 31px 0 0;
}
#content .coanShuwin div.ele h3{
margin:0 0 18px 0;
}
#content .coanShuwin div.ele dl{
margin:30px 0 15px 0;
}
#content .coanShuwin div.ele dt{
font-size:130%;
margin:5px 0;
}
#content .coanShuwin div.ele dd{
color:#af3114;
}
#content .coanShuwin div.ele dd.en{
font-size:130%;
}
#content .coanShuwin div.ele dd.en span{
font-size:70%;
}
#content .coanShuwin a:hover{
background:#ffffff;
}
#content .coanShuwin div.ele dt a:hover{
background:#af3114;
color:#ffffff;
}
#content .coanShuwin div.ele a:hover img{
filter:alpha(opacity=70);
-moz-opacity:.70;
opacity:.70;
}
/*--------------------------------------------*/
/*end*/