@charset "shift_jis";

#sitemap{
	background:url(../shun_img/common/line2.gif) repeat-x top;
	padding:20px 0 0 0;
}
#sitemap h1{
	background:url(../shun_img/common/line1.gif) repeat-x bottom;
	padding:0 0 20px 0;
	margin-bottom:5px;
}
#sitemap dl{
	margin-bottom:50px;
}
#sitemap dt{
	color:#b83314;
	font-size:120%;
	padding:20px 0 0 0;
	margin:0 0 10px 0;
}
#sitemap dd{
	margin:0 0 10px 0;
	color:#d6d4d4;
}